{% extends 'parent.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}
    <div style = "padding-right: 25px;padding-left:25px">
        <div class="card text-center mt-5" style="background-color: rgba(255,255,255,0.7)">
            <div class="card-header">
                <h3 style="margin-bottom: 0; font-weight: bold"> Adicionar conceito novo </h3>
            </div>
        </div>
        <form action="/Conceitos" method="POST">
      <div class="form-group">
        <label for="InputTermo" style="font-weight: bold; margin-top: 5px">Termo</label>
        <input type="text" class="form-control" id="InputTermo" name="termo" style="background-color: rgba(255,255,255,0.7)">
      </div>
      <div class="form-group">
        <label for="InputDescricao" style="font-weight: bold; margin-top: 5px">Descrição</label>
        <input type="text" class="form-control" id="InputDescricao" name="descricao" style="background-color: rgba(255,255,255,0.7)">
      </div>
      <div class="form-group">
            <label for="InputCategoria" style="font-weight: bold; margin-top: 5px">Categoria</label>
            <select class="form-control" id="InputCategoria" name="categoria" style="background-color: rgba(255,255,255,0.7)">
                {% for categoria in categorias %}
                    <option value="{{ categoria }}" style="background-color: rgba(255,255,255,0.7)">{{ categoria }}</option>
                {% endfor %}
            </select>
        </div>
      <button type="submit" class="botaozinho-lindo">Adicionar</button>
    </form>
        </div>
        <hr>

    <div style="padding-right: 25px;padding-left:25px;">
        <form action="/Conceitos" method="GET" class="mt-3">
            <div class="form-group">
                <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Pesquisar conceitos" style="background-color: rgba(255,255,255,0.7)">
            </div>
            <button type="submit" class="botaozinho-lindo">Pesquisar</button>
        </form>
        <form action="/Conceitos" method="GET">
            <button type="submit" class="botaozinho-lindo">Limpar Pesquisa</button>
        </form>
        {% if mensagem %}
            <div style="margin: 10px 0; padding: 10px; border: 1px solid #ccc;border-radius: 5px; background-color: rgba(255,255,255,0.7);">
                {{ mensagem }}
            </div>
        {% endif %}
    </div>

    <div class="list-group" style="margin-bottom: 50px;margin-top: 16px;padding-right: 25px;padding-left:25px;">
        {% for termo in conceitos %}
            <a href="http://localhost:5000/conceito/{{termo}}" class="list-group-item list-group-item-action" style="background-color: rgba(255,255,255,0.7)">{{ termo }}</a>
        {% endfor %}
    </div>
{% endblock %}