
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            abdome
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ventre, parte inferior do tronco. É uma cavidade localizada entre o tórax e a bacia (pelve). Superiormente, o 
abdome está separado do tórax pelo diafragma. Inferiormente, confina-se com a bacia, geralmente descrita 
como uma cavidade separada, apesar de se
            </p>
            {% endblock %}
            