
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            aberração cromática
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Fadiga experimentada pelo olho, mesmo pelo olho normal, quando procura fixar atentamente varios objetos de 
cores diferentes, simultâneamente. Deriva dos diferentes índices de refração das cores do espectro, que formam 
seus focos em pontos diferentes do ei
            </p>
            {% endblock %}
            