
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            abreugrafia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Radiografia do tórax, introduzida pelo radiologista brasileiro Manoel de Abreu (1894-1962) para a profilaxia em 
massa da tuberculose pulmonar. Consiste em tirar radiografia de 70 mm, em série, por meio de máquina 
fotográfica adaptada ao aparelho de raios
            </p>
            {% endblock %}
            