
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            academia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sede onde se reúnem sábios, pro-fissionais de cultura, para ensinar e discutir assuntos. Origina-se de 
Akademus, personagem grego em cujos jardins Platão se reunia com seus discípulos.
            </p>
            {% endblock %}
            