
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            acantocéfalo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Que tem a extremidade anterior do corpo armada de espinhos; helminto de corpo alongado, mais ou menos 
cilíndrico ou achatado, revestido por cutícula espessada com pregas transversas e desprovido de tubo digestivo; 
parasito do rato e do porco e, acidentalm
            </p>
            {% endblock %}
            