
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            achaque
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Expressão antiga de falta ou defeito físico ou moral; alteração da saúde; doença. Expressão popular muito 
empregada para os sofrimentos que se prolongam ou repetem amiúde, como enxaqueca, reumatismo crônico, 
asma, dismenorréia, etc. .
            </p>
            {% endblock %}
            