
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            acidez
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Qualidade das substâncias que dão impressão picante e acre ao gosto; excesso de teor ácido; propriedade de 
um corpo libertar íons H.
            </p>
            {% endblock %}
            