
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            acurácia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            A ausência relativa de erro na estimativa de um parâmetro. É o grau em que uma medida representa o valor 
verdadeiro do efeito medido.
            </p>
            {% endblock %}
            