
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            acúmulo de medicamentos
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Fenômeno resultante da somação de doses sucessivas que se verifica quando o medicamento permanece no 
organismo durante um período de tempo mais ou menos longo, porque a sua eliminação é lenta. O acúmulo 
depende exclusivamente da eliminação lenta do medica
            </p>
            {% endblock %}
            