
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            adesão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diz-se do grau em que os pacientes seguem a orientação/tratamento instituído pelo médico-assistente; 
&#34;compliance&#34; (em inglês).
            </p>
            {% endblock %}
            