
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            aditivo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substância adicionada a uma solução para aumentar, diminuir ou eliminar determinadas características, visando 
à conservação, melhoria da tolerabilidade ao paladar, uniformidade, estabilidade e aspecto estético da 
preparação farmacêutica.
            </p>
            {% endblock %}
            