
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            adolescência
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Período da vida humana que sucede à infância, começa com a puberdade e se caracteriza por uma série de 
mudanças físicas e psicológicas, estendendo-se, aproximadamente, dos 12 aos 20 anos.
            </p>
            {% endblock %}
            