
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            adolescente
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diz-se daquele que se encontra na adolescência, advindo do verbo latino alescere (alimentar); diz-se assim 
porque o jovem ainda recebe, enquanto cresce, o alimento fornecido pelos pais; sinônimo de jovem ou efebo; da 
mesma raiz o verbo adolescer, que é o
            </p>
            {% endblock %}
            