
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            aerofagia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Hábito de deglutir o ar, que surge em algumas pessoas, especialmente as que sofrem de dispepsia ou de certos 
estados ansiosos.
            </p>
            {% endblock %}
            