
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            aerossol
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Mistura que contém partículas sólidas ou líquidas muito pequenas (diâmetro menor ou igual a 0,001 mm) 
dispersas num meio gasoso; nebulizador; aerosol.
            </p>
            {% endblock %}
            