
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            afogamento, reflexo do
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Mecanismo da morte por asfixia, em que a aspiração de água provoca, no vestíbulo laringotraqueal, um reflexo 
centrípeto, que vai ao diencéfalo e deste volta ao centro respiratório bulbar, determinando a asfixia, que não 
seria provocada pela água nos pulmõ
            </p>
            {% endblock %}
            