
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            afrodisia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Desejo sexual, especialmente excessivo ou mórbido, também chamado de satiríase, no homem, e ninfomania na 
mulher. O termo advém de Afrodite, originariamente deusa do desejo feminino, força primordial de todo o 
universo; depois, deusa da beleza, do amor, d
            </p>
            {% endblock %}
            