
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            aftosa, febre
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença contagiosa provocada por um vírus que ataca certos animais de casco aberto e pode ser transmitida ao 
homem através do leite e outros produtos contaminados. As lesões vesiculosas geralmente se localizam na boca 
e na mucosa dos animais. É de caráter
            </p>
            {% endblock %}
            