
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            agitolalia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Deformação, atropelamento, confusão ou tartamudeio da linguagem nos estados de agitação; forma de dislalia; 
o mesmo que agitofasia.
            </p>
            {% endblock %}
            