
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            agitofasia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Deficiência na percepção; incompreensão de sensações; rapidez excessiva na fala, em que as palavras ou 
sílabas são omitidas inconscientemente, ou são pronunciadas de modo imperfeito.
            </p>
            {% endblock %}
            