
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            agnosticismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Posição metodológica pela qual só se aceita como objetivamente verdadeira uma proposição que tenha 
evidência lógica satisfatória; atitude que considera fútil a Metafísica.
            </p>
            {% endblock %}
            