
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            agonia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ânsia; dor intensa; grande sofrimento; estado próximo à morte; mas o seu sentido legítimo é luta. Ela é uma luta 
contra a morte. O termo deriva de agon - a sua raiz - que se refere a tudo que é jogo, disputa, abrangendo os 
jogos públicos píticos e olímpic
            </p>
            {% endblock %}
            