
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            aguardente
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Destilado de soluções açucaradas, fermentadas por microrganismos (levedos e bactérias) em que o açúcar é 
decomposto em álcool, CO2 e outros corpos.
            </p>
            {% endblock %}
            