
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ainhum
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Afecção particular à raça negra, caracterizada pela formação de anel escleroso em torno dos dedos do pé, 
principalmente o quinto, o qual é progressivamente estrangulado, e torna-se globoso, acabando por se destacar.
            </p>
            {% endblock %}
            