
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            albuminúria
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Presença de albumina na urina; visto que normalmente a urina não contém albumina. Suas principais causas 
são: doença renal, insuficiência cardíaca, febre, casos graves de anemia, drogas e venenos (chumbo, mercúrio, 
quinina).
            </p>
            {% endblock %}
            