
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            alcalose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Perturbação do equilíbrio ácido-básico, produzida pelo aumento absoluto ou relativo de substâncias alcalinas 
(bases) no organismo. Pode ser provocada por: a) diminuição da produção de ácidos no organismo; b) perda de 
ácidos pelos líquidos corpóreos; c) in
            </p>
            {% endblock %}
            