
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            alcalóides
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substâncias encontradas em várias plantas. Geralmente são empregados com fins terapêuticos, como a 
atropina, cocaína, morfina, codeína, papaverina, nicotina, quinina, estricnina e outras. Existem também 
alcalóides artificiais, resultantes de síntese quími
            </p>
            {% endblock %}
            