
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Alcoólatras Anônimos
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Instituição internacional fundada em 1935, em Akron, Ohio, Estados Unidos, com a sigla AA. É uma comunidade 
de homens e mulheres que compartilham suas experiências e se ajudam mutuamente com o objetivo de se 
recuperarem do alcoolismo. A condição única par
            </p>
            {% endblock %}
            