
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            alergia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sensibilidade exagerada do indivíduo a determinadas substâncias ou a agentes físicos que se mostram inócuos 
em iguais quantidades e condições para a maioria dos indivíduos da mesma espécie. Esse termo engloba todos 
os tipos de hipersensibilidade humana (a
            </p>
            {% endblock %}
            