
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            alimento funcional
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Termo primeiramente introduzido no Japão na década de 80; é definido como qualquer alimento ou parte de um 
alimento que proporcione benefícios à saúde, incluindo a prevenção e tratamento de doenças, além de satisfazer 
os requerimentos nutricionais tradici
            </p>
            {% endblock %}
            