
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            alopatia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Termo impróprio para o sistema usual de medicina clínica e cirúrgica. A impropriedade resulta da designação do 
processo de cura pela produção de um efeito do medicamento diferente ao da doença no organismo. A medicina 
alopática trata os contrários pelos c
            </p>
            {% endblock %}
            