
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            alopecia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Queda geral ou parcial dos pêlos, principalmente dos cabelos, podendo extremar-se na calvície. Os habitantes 
da antiga Trácia usavam gorros lisos feitos de pele de raposa, que traziam o nome de alopekia, os quais 
escondiam por completo os cabelos, dando a
            </p>
            {% endblock %}
            