
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            alquimia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Antigamente era sinônimo de Química. Depois ficou reservado para a arte antiga, misteriosa, que procurava ou 
pretendia transformar metais em ouro, ou obter uma substância que curasse todas as doenças. A prática nasceu 
no Egito, e a pretendida substância m
            </p>
            {% endblock %}
            