
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            alucinação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Percepção errônea dos sentidos sem fundamento objetivo. Pode ser auditiva, visual, tátil, cinestésica ou 
cenestésica. A mais comum é a alucinação auditiva, característica dos processos esquizoparanóides.
            </p>
            {% endblock %}
            