
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            alvéolos pulmonares
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Minúsculos sacos aéreos, existentes nos pulmões, onde terminam as mais finas ramificações dos brônquios; é 
nos alvéolos que ocorrem as trocas gasosas com o sangue.
            </p>
            {% endblock %}
            