
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            amido
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substância existente em muitos vegetais (trigo, arroz, milho, batatas, etc.), muito utilizada na alimentação 
humana. Na boca, sob a ação da ptialina (saliva), começa a transformar-se em açúcar.
            </p>
            {% endblock %}
            