
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            amok
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Palavra malaia que significa impulso de matar; é uma forma de loucura passageira entre os malaios, 
caracterizada por período de depressão, seguido de outro de excitação, em que o indivíduo tenta matar outros 
indivíduos.
            </p>
            {% endblock %}
            