
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            amor
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Afinidade temperamental ou psíquica; afetividade; benquerença; na mitologia era Cupido ou Eros, filho de Vênus 
e de Marte, representado por um menino, nu, alado, munido de aljava e de setas com que fere o coração dos 
mortais. Por instigação da mãe, amou P
            </p>
            {% endblock %}
            