
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            amostra aleatória
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Um subgrupo da população-alvo onde os indivíduos são selecionados aleatoriamente, isto é, cada indivíduo tem 
chance igual de ser selecionado para a amostra, também chamada probabilística; este procedimento torna o 
subgrupo representativo da população-alvo
            </p>
            {% endblock %}
            