
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ampulheta
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Instrumento constituído por dois recipientes de vidro, com areia, que se comunicam no meio em parte estreitada, 
e que serve para medir o tempo.
            </p>
            {% endblock %}
            