
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ampère
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Unidade  elétrica de  intensidade, produzida pela corrente de um volt, através da resistência de um ohm. O termo 
advém de André Marie Ampère, físico e matemático francês (1775-1836).
            </p>
            {% endblock %}
            