
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            anabolismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Processo pelo qual as substâncias alimentares são incorporadas pelas células vivas. Compreende os processos 
de síntese, em que há produção de matéria viva a partir dos produtos da digestão, e de energia, provenientes do 
catabolismo. Significa o termo fina
            </p>
            {% endblock %}
            