
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            anafilaxia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Condição ou sensibilização do organismo a substâncias estranhas de natureza protéica, ou substâncias de outra 
natureza, previamente introduzidas no organismo, natural ou artificialmente, que, em quantidades mínimas, 
novamente introduzidas provocam reações
            </p>
            {% endblock %}
            