
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            anal, fase
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diz-se em psicanálise da fase observada em crianças, em torno do 2o ano de vida, quando o seu interesse se 
volta para o ânus. Na teoria da libido, vem depois da fase oral e é seguida das fases fálica e genital, com um 
período intermediário entre as duas ú
            </p>
            {% endblock %}
            