
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            anal, reflexo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Irritação da pele em torno do ânus, provocando contração do esfíncter anal; reflexo reduzido ou obtido nas 
lesões medulares e exaltado em casos de inflamações e fístulas do ânus.
            </p>
            {% endblock %}
            