
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            anaplasia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Reversão celular à forma mais primitiva e indiferençada; alteração em que as células se tornam incapazes de 
atingir sua estrutura ou função normais.
            </p>
            {% endblock %}
            