
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ancilostomíase
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Infecção por Necator americanus e/ou por Ancylostoma duodenale, cujas larvas infestantes penetram no 
organismo tanto pela ingestão de alimentos contaminados como através da pele, geralmente nas regiões 
interdigitais, podendo produzir prurido e lesões vesi
            </p>
            {% endblock %}
            