
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            androgênio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Termo geralmente aplicado a qualquer dos hormônios que estimulam o desenvolvimento dos órgãos sexuais e 
das características sexuais secundárias do sexo masculino.
            </p>
            {% endblock %}
            