
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            anfiartrose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Articulação cujas superfícies são ligadas por discos de cartilagens fibrosas ou por membranas sinoviais; são 
articulações pouco móveis, como as pubianas e as intervertebrais.
            </p>
            {% endblock %}
            