
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            angiotensina I e II
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            A angiotensina I (polipeptídio de 10 aminoácidos) é convertida em angiotensina II (polipeptídio de oito 
aminoácidos), que causa a secreção de aldosterona, cortisol e desoxicorticosterona.
            </p>
            {% endblock %}
            