
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            angström
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Unidade de comprimento de onda elétrica, igual a 10-7 mm, e símbolo Å; o termo advém de Anders Jonas 
Angström, físico sueco (1814-1874).
            </p>
            {% endblock %}
            