
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            antibiotic-like
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Expressão inglesa para substâncias com propriedades antibacterianas, porém produzidas por seres vivos 
superiores, vegetais ou animais; em português, a expressão que melhor lhe corresponda talvez seja &#34;análogos 
dos antibióticos&#34;.
            </p>
            {% endblock %}
            