
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            anticoncepcional/métodos comportamentais
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Métodos que requerem que a mulher aprenda quando o período fértil de seu ciclo começa e termina, evitando 
assim, quando desejar, a gravidez; método de abstinência.
            </p>
            {% endblock %}
            