
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            anticoncepcional/métodos de barreira
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Forma mais antiga de controle da concepção, são aqueles que evitam a gravidez através do impedimento da 
ascensão dos espermatozóides ao útero.
            </p>
            {% endblock %}
            