
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            anticoncepcional hormonal combinado oral
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Método anticoncepcional que consiste na utilização, por via oral, de estrogênio associado ao progestogênio, 
inibindo a ovulação e formando o muco cervical espesso, o que dificulta a passagem dos espermatozóides.
            </p>
            {% endblock %}
            