
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            anticoncepcional/dispositivo intra-uterino
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Objeto pequeno de plástico flexível, freqüentemente com revestimento ou fios de cobre, inserido no útero da 
mulher através da vagina, o que torna mais difícil a passagem do espermatozóide pelo trato reprodutivo 
feminino, reduzindo a possibilidade de ferti
            </p>
            {% endblock %}
            