
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            anti-séptico
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substância utilizada para destruir microrganismos ou inibir sua reprodução ou metabolismo, aplicada por via 


tópica em superfícies cutâneas ou mucosas e em feridas infectadas, para esterilizá-las.
            </p>
            {% endblock %}
            