
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            análise multivariada
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É um método para simultaneamente considerar os efeitos de muitas variáveis, em relação a uma variável 
definida como variável dependente. Os métodos estatísticos comumente usados na pesquisa incluem regressão 
linear múltipla e regressão logística.
            </p>
            {% endblock %}
            