
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            análise clínica
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Análise, geralmente feita em laboratórios especializados, de material oriundo do organismo de um paciente, para 
avaliar o seu estado geral ou determinar o diagnóstico de alguma enfermidade.
            </p>
            {% endblock %}
            