
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            análise transacional
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Técnica psicoterápica aplicada em grupo ou individualmente, criada em 1958 pelo psiquiatra canadense Eric 
Berne, e que tem por fim permitir ao indivíduo maior autonomia e espontaneidade através da compreensão e 
aprendizado. Caracteriza-se pela linguagem c
            </p>
            {% endblock %}
            