
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            anáfase
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Estádio da mitose, que segue à metáfase, em que as metades dos cromosomas divididos se orientam em 
direção aos pólos do fuso, para formar a diáster.
            </p>
            {% endblock %}
            