
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            aorta
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Artéria-tronco do sistema arterial, que começa no ventrículo esquerdo, dirigindo-se para cima (aorta 
ascendente), depois se encurva em arco (arco aórtico ou croça da aorta), dirigindo-se para baixo, atravessando 
o tórax (aorta torácica), seguindo pelo abd
            </p>
            {% endblock %}
            