
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            APAE
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sigla da Associação de Pais e Amigos dos Excepcionais, criada no Rio de Janeiro em 1954, por sugestão da 
americana Beatrice Bemis, que residia ali com sua filha &#34;mongolóide&#34;; a entidade se destina a congregar os pais 
e amigos dos excepcionais numa associa
            </p>
            {% endblock %}
            