
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            apalpar
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tocar com as mãos ou dedos, para conhecer a resistência, os limites, a extensão, as irregularidades e a 
temperatura de órgãos e as alterações orgânicas.
            </p>
            {% endblock %}
            