
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Aquiles, tendão de
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            O mais forte tendão do corpo humano, situado póstero-inferiormente em cada perna, estendendo-se ao osso 


calcâneo.
            </p>
            {% endblock %}
            