
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Aquiles
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            O herói grego mais famoso. Filho de Peleu e de Tétis, tomou parte na guerra de Tróia e combateu com 
Agamenão, que lhe tomou a escrava Briseida. Indignado, Aquiles recolheu-se à sua tenda, desistindo de lutar; 
retornou depois às armas, para vingar o heróic
            </p>
            {% endblock %}
            