
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            araruta
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Farinha de fécula das raízes da maranta, usada na preparação de papas e bolos, principalmente no interior do 
Brasil, como alimento infantil; o termo advém de Arrow-Root, marca inglesa.
            </p>
            {% endblock %}
            