
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            articulações, doenças das
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            1. Artrite: inflamação de uma ou mais articulações. Principais tipos: reumatóide, tuberculosa, gonocócica, gotosa 
e traumática; 2. Sinovite: qualquer inflamação da membrana que forra a cavidade articular; 3. Epifisite: 
inflamação da extremidade de um osso
            </p>
            {% endblock %}
            