
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            artrite reumatóide
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença inflamatória cronica, degenerativa e progressiva, que afeta as articulações móveis, principalmente dos 
dedos das mãos e/ou pés, provocando destruição das estruturas articulares e periarticulares. É sistêmica e, por 
isso, pode atingir outros órgãos.
            </p>
            {% endblock %}
            