
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            assistência ambulatorial
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Segundo o Ministério da Saúde, conjunto de procedimentos médicos e terapêuticos de baixa complexidade, 
possíveis de realização em ambulatórios e postos de saúde.
            </p>
            {% endblock %}
            