
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            astigmatismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Erro de refração na visão devido ao fato de a córnea (membrana transparente da parte anterior do olho) ser 
desigualmente curva em várias direções, de tal modo que os raios luminosos não podem ser focados no mesmo 
ponto da retina. O astigmatismo faz com qu
            </p>
            {% endblock %}
            