
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            atetose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Distúrbio caracterizado por movimentos irregulares, arrítmicos, das mãos e dos pés, com distensões e 
contrações dos dedos, em conseqüência de lesões centrais.
            </p>
            {% endblock %}
            