
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            atmólise
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Separação de gases combinados, por meio de passagem através de placa porosa; desintegração de tecidos 
orgânicos por vapores de líquidos voláteis; análise de gases.
            </p>
            {% endblock %}
            