
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            atomização
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Dispersão de líquidos em gotículas extremamente pequenas, forçando-se a passagem líquida através de tubos 
capilares, com abertura numa câmera ou cavidade.
            </p>
            {% endblock %}
            