
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            atrabile
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Bílis negra, da concepção da medicina hipocrática, segundo a qual havia duas bílis: a bílis e a astrabile ou bílis 
negra, esta promovendo instabilidade, melancolia, hipocondria.
            </p>
            {% endblock %}
            