
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            atômica, massa
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Razão entre a massa de um átomo de nuclídeo e 1/12 da massa de um átomo do nuclídeo carbono; peso 
atômico.
            </p>
            {% endblock %}
            