
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Auerbach, plexo de
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Plexo nervoso do intestino delgado, localizado entre as túnicas mucosa e muscular, um dos responsáveis pela 
motilidade intestinal, independente do sistema nervoso central. O termo advém de Leopold Auerbach, 
anatomista alemão (1828-1897).
            </p>
            {% endblock %}
            