
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            auri, auro, aureo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Do lat. aureus ou aurum, ouro (aurismo, aurocromodermia, áureoterapia, aureococo); - do lat.auris, ouvido 
(auriforme, auricula)auto - Do gr. autós, próprio (autógeno, autogamia, autismo).
            </p>
            {% endblock %}
            