
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            autismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Fenômeno patológico que se caracteriza por perda do contato com a realidade e o mundo externo, e criação 
mental de um mundo autônomo centrado no próprio indivíduo, resultado de inadequacidade no desenvolvimento, 
de etiologia puramente orgânica, que se man
            </p>
            {% endblock %}
            