
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            azinhavre
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Camada verde de hidrocarbonato de cobre que se forma nos objetos de cobre expostos ao ar e à umidade; 
zinabre.
            </p>
            {% endblock %}
            