
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ação catalítica
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Processo de mudança na ve-locidade de uma reação química por uma substância que permanece quimicamente 
inalterada durante toda a reação. A velocidade pode tanto ser aumentada como diminuída.
            </p>
            {% endblock %}
            