
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Babinski, sinal de
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Extensão dorsal em leque dos pedartículos pela excitação da região plantar, ao invés de contração observada 
nos indivíduos normais. O termo advém de J. F. Felix Babinski, neurologista francês (1857-1932).
            </p>
            {% endblock %}
            