
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            bactéria
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Organismo unicelular, sem clorofila, com formas variadas. Na Antiguidade, era o bastão ou o cajado que os 
gregos usavam habitualmente, servindo também de insígnia aos magistrados e outras personagens. Foi a 
semelhança dos seres microscópicos com aqueles b
            </p>
            {% endblock %}
            