
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            bacteriófago
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Vírus que penetra e se multiplica em bactérias, causando-lhes a morte por rompimento da membrana celular, 
para libertação dos corpúsculos que o constituem.
            </p>
            {% endblock %}
            