
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            balança de mola
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Aquela em que se medem as massas por intermédio da comparação entre a força de restituição duma mola 
elástica e a força exercida sobre esta pelo peso do corpo de massa desconhecida.
            </p>
            {% endblock %}
            