
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            balança analítica
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Instrumento de laboratório destinado a efetuar pesadas com uma precisão de, no mínimo, um décimo de 
miligrama, e constituído, em geral, por uma alavanca interfixa de braços iguais que sustenta dois pratos, onde se 
colocam os pesos calibrados e a massa que
            </p>
            {% endblock %}
            