
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            balança de Jolly
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Balança de mola com que se mede a massa específica dos corpos, comparando o seu peso no ar com o seu 
peso aparente quando mergulhado em um líquido.
            </p>
            {% endblock %}
            