
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            batofobia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Medo mórbido de profundeza, ou de olhar para baixo, estando o paciente em lugar elevado, devido ao medo de 
cair; acrofobia.
            </p>
            {% endblock %}
            