
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            baço
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Víscera glandular situada no hipocôndrio esquerdo, pesando entre 15 e 190 g e que tem várias funções, das 
quais sobressai a de destruir os glóbulos vermelhos.
            </p>
            {% endblock %}
            