
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            beberagem
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Cozimento de ervas para ser tomado aos goles ou em largas porções, sem horário nem medida, geralmente 
preparado por curandeiro; beberragem.
            </p>
            {% endblock %}
            