
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            beribéri
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença carencial; avitaminose provocada pela falta de vitamina B1. Usada a palavra do vocabulário senegalês, 
no qual a partícula béri se emprega duas vezes, como reforço intensivo. Béri quer dizer fraco, e daí beribéri para 
dizer da incapacidade, da decad
            </p>
            {% endblock %}
            