
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            berne
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tumor (miíase furunculóide) produzido pela larva da mosca Dermatobia hominis, comum nos animais do campo 
(bois, vacas, eqüinos).
            </p>
            {% endblock %}
            