
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            betabloqueadores
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Denominação de um grupo de medicamentos que atua bloqueando os receptores do tipo beta: no coração 
ocorre diminuição do débito cardíaco e da freqüência de batimentos, e nos pulmões, o principal efeito é a 
broncoconstrição.
            </p>
            {% endblock %}
            