
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            bexiga
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Saco músculo-membranoso onde se deposita a urina eliminada pelos ureteres, com capacidade aproximada de 
500ml e peso de 30 a 60g.
            </p>
            {% endblock %}
            