
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            bifocal
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Que tem dois focos; lente ocular dupla, para dar sensação de relevo na microscopia; óculos com lente dupla 
para visão próxima e distante.
            </p>
            {% endblock %}
            