
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            bioequivalência
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Segundo o Ministério da Saúde, condição que se dá entre dois produtos farmacêuticos que são equivalentes 
farmacêuticos entre si, e que mostram uma mesma ou similar biodisponibilidade segundo uma série de critérios. 
Para tanto, os dois produtos devem ser c
            </p>
            {% endblock %}
            