
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            bisturi
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Escalpelo; faca pequena, reta ou encurvada na parte da lâmina, usada para abrir abscessos e praticar cortes em 
operações cirúrgicas.
            </p>
            {% endblock %}
            