
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            biótipo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tipo constitucional; grupos de indivíduos geneticamente iguais. A grafia correta do termo é proparoxítona, com 
acento agudo na antepenúltima sílaba; contudo, a pronúncia corrente no Brasil é paroxítona, sem acento agudo.
            </p>
            {% endblock %}
            