
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            BO
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Gíria utilizada entre vendedores/representantes propagandistas da Indústria Farmacêutica para designar 
determinados medicamentos muito &#34;bonificados&#34; quando vendidos às farmácias (recebem muitos descontos), e 
que são alvo dos balconistas na chamada &#34;empurr
            </p>
            {% endblock %}
            