
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            bovarismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Termo extraído do romance de Gustave Flaubert &#34;Madame Bovary&#34;, e aplicado aos indivíduos que levam uma 
vida romanesca, fictícia, em desacordo com a realidade.
            </p>
            {% endblock %}
            