
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            bradicinina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substância hipertensora do sangue isolada pelos pesquisadores brasileiros Rocha e Silva, Beraldo e Rosenfeld 
(Am J Physiol 156:261-273, 1949).
            </p>
            {% endblock %}
            