
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Braille, escrita de
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Escritura com pontos em relevo, destinada aos cegos, criada por Louis Braille (1809-1850), em sendo ele próprio 
cego desde os 3 anos de idade.
            </p>
            {% endblock %}
            