
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            bromismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Estado provocado pelo uso exagerado de sais de bromo; erupção de acne na face e no corpo; cefaléia, 
extremidades frias, hálito fétido, insônia e impotência sexual.
            </p>
            {% endblock %}
            