
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            bubaste
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Deusa egípcia do fogo, filha de Isis e Osiris, venerada na cidade de Bubaste. Deusa da castidade, invocada 
também nos partos. O gato era animal consagrado a Bubaste.
            </p>
            {% endblock %}
            