
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            bula
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Advém do latim bulla, que significa bolha ou borbulha como na água fervente, por alusão aos selos dos 
documentos pontifícios, os quais se apresentavam como borbulhas identificadoras, saliências trazendo as 
insígnias do Papado de Roma. Particularizada a di
            </p>
            {% endblock %}
            