
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            bulha cardíaca
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tom cardíaco, vibração das válvulas cardíacas imediatamente após o seu fechamento e vibração das paredes 
do coração e dos grandes vasos em torno do coração. Estas vibrações transmitem-se à parede torácica, 
podendo ser ouvidas como som pelo estetoscópio. Q
            </p>
            {% endblock %}
            