
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            bálano
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Cabeça do pênis ou glande; termo que indica relação com a glande; para os gregos era o fruto do carvalho, 
apresentando-se envolvido por escamas; pela forma, passou a exprimir tudo quanto fosse de objeto envolvido, 
coberto ou entre folhas. Há uma série de
            </p>
            {% endblock %}
            