
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            bílis
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substância secretada pelo fígado, armazenada na vesícula biliar e derramada no duodeno, esverdeada, amarga 
e viscosa que participa, de modo importante, no mecanismo da digestão, principalmente das gorduras; bile.
            </p>
            {% endblock %}
            