
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            caduceu
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Emblema formado de ramo de loureiro em que se encontram duas serpentes; insígnia de Mercúrio ou Hermes; 
símbolo do comércio, usado erroneamente como símbolo da Medicina.
            </p>
            {% endblock %}
            