
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            calendário, método do
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Método anticoncepcional, comportamental, em que a mulher marca em um calendário os dias do mês que 
correspondem ao início e ao término de período fértil, período este determinado pela média dos dias dos ciclos 
menstruais anteriores, devidamente  analisado
            </p>
            {% endblock %}
            