
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            caloria
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Unidade de quantidade de calor; quantidade de calor necessária para elevar de 1 grau centígrado (de 14,5º C a 
15,5º C) a temperatura de 1 ml de água destilada.
            </p>
            {% endblock %}
            