
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            carbúnculo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Infecção grave causada pelo Bacillus anthracis que ataca o gado, carneiros e pessoas que lidam com eles ou 
com peles e lãs desses animais; pústula maligna; antraz maligno.
            </p>
            {% endblock %}
            