
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            carcinoma
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sinônimo de câncer. Vem do grego, da palavra carkinos, a mesma que traduzimos por caranguejo, servindo 
também para formar a expressão carcinologia, isto é, o capítulo da zoologia que estuda os crustáceos, 
principalmente os caranguejos. E por serem as pinç
            </p>
            {% endblock %}
            