
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cardiazol
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Nome comercial de um preparado cardiotônico, semelhante à cânfora, usado antigamente como convulsivante 
nos quadros esquizoparanóides, ao ser aplicado em injeções endovenosas rápidas, imitando o quadro 
convulsivo do eletrochoque.
            </p>
            {% endblock %}
            