
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cartilagem
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substância elástica existente entre as superfícies articulares, ou que forma o arcabouço de certos órgãos como 
a laringe, a traquéia ou o tecido ósseo embrionário. É constituída por massa homogênea, semeada de células 
encapsuladas, secretoras da substânci
            </p>
            {% endblock %}
            