
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            catabolismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Etapa de processos degradativos do metabolismo, na qual os produtos assimilados sofrem combustão para 
produção de energia, a fase das despesas energéticas, em linguagem biológica. No antigo linguajar dos gregos, 
katabolè, donde parece proceder o termo, vi
            </p>
            {% endblock %}
            