
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            catalepsia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Síndrome caracterizada pela perda de movimentos e conservação de postura, com estado de semiconsciência, 
ou mesmo lucidez, sobrevindo por crises e sem rigidez ou flacidez musculares. Aparece na histeria, na hipnose, 
eventualmente na uremia, nas meningites
            </p>
            {% endblock %}
            