
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            catarina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Gíria utilizada entre representantes propagandistas da Indústria Farmacêutica que significa a mala em que são 
carregados os medicamentos (amostras grátis) nas visitas de propaganda médica. Para alguns, o termo advém 
do nome da esposa de um antigo propagan
            </p>
            {% endblock %}
            