
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            catatimia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Entidade psiquiátrica que se manifesta paroxisticamente como crises passageiras e se caracteriza por intensa 
alteração de humor, seja no sentido de depressão ou no de mania.
            </p>
            {% endblock %}
            