
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            categute
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Adaptação ao português de dois termos ingleses - cat  + gut - &#34;catgut&#34;, fio de sutura de origem animal, em geral 
de tripa de carneiro.
            </p>
            {% endblock %}
            