
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cercária
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Estado larvário de certos nematóides, caracterizado por um corpo alongado, terminado em ponta, como cauda, e 
ornado de cílios, para seu deslocamento à procura de hospedeiro intermediário.
            </p>
            {% endblock %}
            