
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Chagas, doença de
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tripanosomíase americana; doença tropical provocada por um protozoário, Trypanosoma cruzi, transmitido pelo 
&#34;barbeiro&#34;. O termo advém de Carlos Ribeiro Justiniano Chagas, cientista brasileiro, nascido em Oliveira, MG 
(1879-1934), que a descreveu primeiram
            </p>
            {% endblock %}
            