
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            choque elétrico
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Terapêutica psiquiátrica utilizada até as décadas de 70/80, criada pelos psiquiatras italianos Cerletti e Binni, que 
consiste em se provocar, através de uma descarga elétrica, um quadro convulsivo, tônico e clônico. Suas 
indicações terapêuticas repousavam
            </p>
            {% endblock %}
            