
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            choque anafilático
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Quadro clínico grave, mortal se não for socorrido imediatamente, em que o organismo reage a uma reação 
alérgica, isto é, uma sensibilização do organismo a substâncias estranhas de natureza protéica.
            </p>
            {% endblock %}
            