
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cintilografia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Método de investigação clínica que consiste na injeção endovenosa ou ingestão de uma substância radioativa 
com afinidade eletiva para determinado órgão, permitindo o estudo da distribuição topográfica do isótopo 
radioativo nesse órgão por meio de um detec
            </p>
            {% endblock %}
            