
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cinética de ordem zero
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diz-se daquela em que há absorção ou eliminação do fármaco numa velocidade e quantidades fixas, 
independentes da concentração do fármaco.
            </p>
            {% endblock %}
            