
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            circuncisão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Seção da pele do prepúcio quando cobre a glande; operação realizada, rotineiramente, nas crianças judias, 
revestida de cerimonial religioso.
            </p>
            {% endblock %}
            