
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cirrose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Processo patológico que atinge vários órgãos internos, nos quais o tecido nobre é substituído por tecido fibroso, 
semelhante ao tecido cicatricial.
            </p>
            {% endblock %}
            