
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cisticerco
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Forma larvária de tênia, em que um único escólex está incluído em cisto. Ingerindo a carne de porco ou de boi 
infestada de cisticercos, quando mal cozida ou crua, o homem adquire a chamada &#34;solitária&#34; ou teníase.
            </p>
            {% endblock %}
            