
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            citotoxina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substâncias celulares tornadas tóxicas por um mecanismo de sensibilização, quando previamente introduzidas 
no organismo, e são por ele destruídas.
            </p>
            {% endblock %}
            