
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            citocromo P450
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Citocromo que possui em sua estrutura uma família de enzimas, é o principal catalisador das reações de 
biotransformação de fármacos no organismo. A família de genes do citocromo P450 diversificou-se a partir de 
sua origem para adaptar-se ao metabolismo de
            </p>
            {% endblock %}
            