
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            clone
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Conjunto de indivíduos originários de outros por multiplicação assexual (divisão, enxertia, apomixia, etc.), em que 
todos os membros de um clone têm o mesmo patrimônio genético.
            </p>
            {% endblock %}
            