
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            clue cells
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Células epiteliais vaginais recobertas por organismos cocobacilares que, quando evidenciadas conjuntamente a  
pH &gt; 4,5, teste positivo para aminas e corrimento vaginal branco leitoso e com mau cheiro, denunciam a 
existência de vaginose bacteriana, com inf
            </p>
            {% endblock %}
            