
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            co-intervenção
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Em ensaios clínicos, a aplicação de medidas diagnósticas ou terapêuticas adicionais à medida em estudo; as 
medidas podem ser aplicadas aos indivíduos de um ou de ambos os grupos.
            </p>
            {% endblock %}
            