
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            coagulação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Condensação de líquidos orgânicos, sangue, leite e outros, do que resulta formação de massa de fibrina 
(sangue), ou pela ação do calor ou pela dispersão de partículas nos colóides (gelificação). Pela coagulação dos 
líquidos orgânicos, separam-se porções l
            </p>
            {% endblock %}
            