
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cocaína
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Alcalóide cristalino (metil-benzoil ecgonina) obtido de folhas da coca ou sinteticamente, empregada como 
anestésico local, ou usada através da aspiração, como tóxico, causando dependência física e psíquica.
            </p>
            {% endblock %}
            