
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            coeficiente
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Medida de freqüência da ocorrência de um evento específico em uma particular população, num determinado 
instante ou período; é a medida instantânea da força de ocorrência de um evento. Está associada à velocidade 
do processo de mudança de estado, em relaç
            </p>
            {% endblock %}
            