
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            colesterol
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Lipídio importante para o homem; é um dos principais componentes da membrana celular, e também precursor 
de outros esteróis (hormônios do córtex da supra-renal, hormônios sexuais); parte do colesterol transforma-se 
em ácido cólico e este em sais biliares.
            </p>
            {% endblock %}
            