
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            colostro
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Líquido secretado pela glândula mamária logo após o parto, de efeito laxativo para o recém-nascido, composto 
de glóbulos de gordura volumosos, granulosos e cistos celulares.
            </p>
            {% endblock %}
            