
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            colágeno
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substância fundamental do tecido conjuntivo que, além de encher as lacunas dos tecidos parenquimatosos, 
produz fibras colágenas, elásticas e reticulares.
            </p>
            {% endblock %}
            