
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            comicial
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Relativo à epilepsia, também chamado &#34;mal comicial&#34;, em face de os pacientes portadores de epilepsia poderem 
apresentar convulsões em locais com muita gente, mal arejados e de alguma tensão, como  os comícios.
            </p>
            {% endblock %}
            