
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            comoção cerebral
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Estado provocado por uma queda ou pancada sobre o crânio, que se manifesta por inconsciência, palidez, 
hipotermia e outros.
            </p>
            {% endblock %}
            