
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            comprimido
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Forma farmacêutica que permite reunir, num pequeno volume, uma certa quantidade de um medicamento em 
pó, que mediante compressão se torna compacto.
            </p>
            {% endblock %}
            