
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            complexo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Condição resultante de conflito inconsciente entre as tendências instintivas e a função moralizadora do 
superego; tal contradição de tendências compromete a expansão da personalidade e gera dificuldades de 
adaptação. Em linguagem popular, o termo designa
            </p>
            {% endblock %}
            