
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            compartimento periférico
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diz-se do conjunto de tecidos com pouca perfusão por massa (mL/g), em condições de repouso, formado por 
pele e tecidos adiposo e muscular.
            </p>
            {% endblock %}
            