
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            conação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É a atividade psicomotora que se inicia na intenção e termina na ação propriamente dita. Abrange todo o ciclo 
eferente da atividade pessoal; intenção dirigida.
            </p>
            {% endblock %}
            