
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            conjuntivo, tecido
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tecido formado por diversos tipos de células e por uma substância intercelular (com fibras elásticas, colágenas e 
reticulares); apresenta como funções: sustentação, proteção, nutrição e preenchimento de espaços entre os 
outros tecidos.
            </p>
            {% endblock %}
            