
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            consciência
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Estado de vigília do indivíduo no qual ele pode apreciar ou responder aos estímulos recebidos por seus órgãos 
dos sentidos; o indivíduo está orientado no tempo e no espaço, ciente do próprio estado mental.
            </p>
            {% endblock %}
            