
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Conselho Federal de Medicina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Entidade que representa a profissão médica e os médicos em todo o território nacional, foi instituído - bem como 
os Conselhos Regionais - pelo Decreto-lei 7.955, de 13 de setembro de 1945, e transformado em autarquia pela 
Lei 3.268, de 30 de setembro de 1
            </p>
            {% endblock %}
            