
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            contágio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Transmissão de uma doença por contato direto ou indireto; o contágio direto ocorre quando o agente é 
transmitido diretamente de um indivíduo para outro; o indireto quando o agente é transmitido de um indivíduo a 
outro através de uma 3a pessoa, de um anima
            </p>
            {% endblock %}
            