
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            coorte
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Um grupo de pessoas com característica(s) comum(ns), como a coorte de nascimentos, quando todos os 
indivíduos do grupo nascem no mesmo ano, ou a coorte em estádios iniciais de doença, quando todos os 
indivíduos do grupo se encontram nos mesmos estágios in
            </p>
            {% endblock %}
            