
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            corpo estranho
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Corpo sem vida que se encontra em qualquer ponto do organismo, quer tenha vindo do exterior (objeto 
deglutido, aspirado para as vias aéreas, etc.) quer tenha se formado no corpo.
            </p>
            {% endblock %}
            