
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            coréia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença nervosa, com movimentos involuntários e irregulares, irritabilidade e depressão, mais própria da 
infância; admite-se hoje que possa ser uma manifestação clínica da febre reumática; doença de S. Vito, doença 
de S. Guido, doença de Sydenham.
            </p>
            {% endblock %}
            