
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            creatina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substância nitrogenada, que existe principalmente nos músculos, combinada com o ácido fosfórico; 
desempenha um papel importante nos fenômenos bioquímicos da contração muscular.
            </p>
            {% endblock %}
            