
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            crepuscular, estado
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Estado de semiconsciência, durante o qual o indivíduo executa uma série de atos automáticos, mais ou  menos 
coordenados, dos quais não se recorda posteriormente. Em geral vem depois do acesso epiléptico, antes de o 
paciente recuperar a lucidez.
            </p>
            {% endblock %}
            