
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cretinismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença crônica devido à deficiência da glândula tiróide, originada na vida fetal ou nos primeiros anos da infância. 


Além da deficiência mental (idiotia), há atraso no desenvolvimento do organismo.
            </p>
            {% endblock %}
            