
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            crise
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Modificação que sobrevém durante a evolução de uma doença; agravamento de uma doença crônica; momento 
decisivo ou principal de uma doença ou febre; desaparecimento súbito e favorável dos sintomas agudos de uma 
doença infecciosa.
            </p>
            {% endblock %}
            