
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cromatografia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Método de análise química de uma solução, em que os seus componentes são decompostos, em faixas coradas, 
em diferentes níveis da coluna. Modernamente se utiliza a cromatografia líquida de alta pressão (HPLC).
            </p>
            {% endblock %}
            