
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cromosoma
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Corpúsculo em que se divide o núcleo no curso da mitose; cora-se fortemente pelos corantes básicos; cada 
espécie vegetal ou animal possui um número constante de cromosomas, que transmitem os caracteres 
hereditários de cada ser e constituem unidades defini
            </p>
            {% endblock %}
            