
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            curva de sobrevida
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É uma representação gráfica que serve para estimular, através de dados, qualquer desfecho dicotômico 
apresentado pelo paciente em relação à doença. É muito empregada para a avaliação de tratamentos ou 
procedimentos médicos.
            </p>
            {% endblock %}
            