
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cutirreação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Reação irritativa da pele que se obtém por meio de uma escarificação da epiderme com produtos extraídos dos 
próprios agentes, suspeitos de causar a doença.
            </p>
            {% endblock %}
            