
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cárie
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Dissolução e desintegração do esmalte e da dentina pela ação de bactérias acidificantes e de seus produtos; 
destruição de um osso, da qual pode resultar a morte deste, que se torna amolecido, descorado e poroso.
            </p>
            {% endblock %}
            