
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cátion
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Íon que vai para o pólo negativo quando se faz passar a corrente elétrica numa solução; íons positivos, tais 
como potássio, sódio, cálcio (K+, Na+, Ca++).
            </p>
            {% endblock %}
            