
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            célula
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É a menor porção do protoplasma que possui em si mesma as propriedades fundamentais da matéria viva. 
Todos os tecidos e órgãos são formados de células.
            </p>
            {% endblock %}
            