
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cérebro
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Porção mais diferenciada do encéfalo que, no homem, se encontra na parte superior do crânio. É formado de 
dois hemisférios, unidos na base por substância branca, denominada corpo caloso.
            </p>
            {% endblock %}
            