
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cóclea
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Qualquer coisa em forma de caracol; canalículo espirilado do ouvido interno, em forma de caracol, situado na 


frente do vestíbulo e que contém o órgão principal da audição, o órgão de Corti.
            </p>
            {% endblock %}
            