
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            cório
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Pele verdadeira ou derme; camada situada abaixo da epiderme; membrana externa do ovo fecundado, que 
serve para sua proteção ou nutrição.
            </p>
            {% endblock %}
            