
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            daltonismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Perturbação da visão em que não se distingue uma ou mais cores, como o verde, o vermelho e o azul; o termo 
advém de John Dalton, médico inglês (1766-1844).
            </p>
            {% endblock %}
            