
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            darwinismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Teoria da evolução de Charles Robert Darwin, naturalista inglês (1809-1882), que afirma, em seu famoso livro 
&#34;On the origin of species by means of natural selection&#34;, de 1859, o conceito de uma evolução permanente das 
espécies, demonstrando-a pela extinçã
            </p>
            {% endblock %}
            