
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            deformidade
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Deformação, alteração acentuada da forma ou aspecto do corpo ou de uma parte do corpo ou de um órgão ou 
de uma parte de um órgão, adquirida através de doença, trauma, distúrbio funcional, posição viciosa e outros; 
pode ser também de natureza congênita.
            </p>
            {% endblock %}
            