
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            delírio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Estado de alteração da consciência, acompanhado por linguagem incoerente, ilusões, alucinações e atividade 
muscular desordenada. Pode ser conseqüência de um distúrbio mental, estado febril, intoxicação, etc.
            </p>
            {% endblock %}
            