
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            dengue
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença febril aguda, virótica, que se manifesta com cefaléia, dor e tumefação nas articulações, erupção cutânea 
e secreção brônquica exagerada; é transmitida pelo mosquito Aedes aegypti; febre dos três dias.
            </p>
            {% endblock %}
            