
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            dependência psíquica ativa
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É a situação em que existe um sentimento de satisfação ou um impulso psíquico que exige a administração 
regular ou continuada de uma substância química para produzir alguma forma de prazer ou evitar um mal-estar; 
hábito.
            </p>
            {% endblock %}
            