
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            depressão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diminuição; área escavada ou deprimida; estado caracterizado pela baixa do tono psicológico, com desalento, 
desinteresse, tristeza e estado penoso de consciência que se acompanha de fatigabilidade, insônia e anorexia.
            </p>
            {% endblock %}
            