
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            dermografismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Persistência e exagero das reações vasomotoras produzidas por contato com objetos na pele; esta conserva a 
marca do objeto durante alguns minutos ou horas, sob a forma de elevação branco-rósea, rodeada de zona 
eritematosa.
            </p>
            {% endblock %}
            