
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            diafragma
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Músculo delgado como membrana que separa a cavidade abdominal da torácica e que, contraindo-se, auxilia a 
respiração; artefato contraceptivo circular, geralmente flexível, que se introduz na vagina para fechar o colo do 
útero e impedir a entrada de esperm
            </p>
            {% endblock %}
            