
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            diapedese
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Migração dos glóbulos brancos do sangue para fora dos capilares, através da sua parede, sendo importante 
para a proteção do organismo contra micror-ganismos.
            </p>
            {% endblock %}
            