
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            diarréia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Evacuação freqüente de fezes líquidas e abundantes. Apresenta riquíssima sinonímia popular: afitamento, afito, 
borra, caganeira, câmaras ou cambras, carreirinha, caseira, corredeira, desarranjo, destempero, ligeira, piriri, 
reira, sedeca, soltura, soltura
            </p>
            {% endblock %}
            