
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Direito
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É o ramo do conhecimento que se ocupa das normas jurídicas ou leis que regem o comportamento humano. 
Delimita a liberdade com que as pessoas podem se conduzir para ser possível o convívio social. Fundamenta-se 
na norma escrita (lei) e no princípio de que
            </p>
            {% endblock %}
            