
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            disenteria
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença aguda, infecciosa, específica, com lesões inflamatórias e ulcerativas das porções inferiores do intestino. 
Manifesta-se com diarréia intensa, cólicas, tenesmo, geralmente com eliminação de sangue e muco.
            </p>
            {% endblock %}
            