
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            disfunção erétil
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diz-se da incapacidade de o indivíduo do sexo masculino manter ereção satisfatória para um coito normal; 
impotentia coeundi; impotência.
            </p>
            {% endblock %}
            