
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            dispensação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Segundo o Ministério da Saúde, é o ato profissional farmacêutico de proporcionar um ou mais medicamentos a 
um paciente, geralmente como resposta à apresentação de uma receita elaborada por um profissional 
autorizado. Neste ato o farmacêutico informa e ori
            </p>
            {% endblock %}
            