
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            dissecção
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ato de dissecar, de separar as partes de um corpo ou de um órgão. Emprega-se tanto em anatomia (dissecção 
de um cadáver ou parte deste) como em cirurgia (dissecção de uma artéria ou de um tumor).
            </p>
            {% endblock %}
            