
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            distorção
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É o ato de distorcer, de deformar o sentido ou a imagem, de desvirtuar, de alterar a realidade, de mudar a versão 
de um fato.
            </p>
            {% endblock %}
            