
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            diástole
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Fase de dilatação de uma cavidade do coração, após a sua contração, durante a qual ela se enche de sangue. É 
o período de enchimento cardíaco, ao contrário da sístole.
            </p>
            {% endblock %}
            