
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            diátese
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Constituição, disposição geral em virtude da qual um indivíduo é suscetível em relação a uma doença ou 
doenças; predisposição ou tendência para adquirir doença ou doenças, como a diátese hemorrágica, com 
tendência anormal à hemorragia, como na hemofilia.
            </p>
            {% endblock %}
            