
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            diálise peritoneal
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diálise que se realiza através do peritônio, introduzindo-se e removendo-se da cavidade peritoneal, de modo 


contínuo ou intermitente, a solução a ser dialisada, depurando-se o organismo de substâncias nocivas.
            </p>
            {% endblock %}
            