
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            doença de Paget
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Osteíte deformante em que a reabsorção excessiva dos ossos pelos osteoclastos é seguida pela substituição da 
medula normal por tecido conjuntivo fibroso vascularizado, ocasionando deformações ósseas. O termo advém 
de James Paget, cirurgião inglês (1814-18
            </p>
            {% endblock %}
            