
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            dose-dependente
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diz-se de determinado medicamento em que a dose utilizada está diretamente relacionada com os seus efeitos, 
quer de eficácia como de secundarismos adversos.
            </p>
            {% endblock %}
            