
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            drosófila
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Gênero de mosca que se alimenta de frutos decompostos, e que pela rapidez de sua multiplicação é usada nos 
estudos de genética, como as primeiras pesquisas de Gregor Johann Mendel (1822-1884) na criação das leis da 
hereditariedade.
            </p>
            {% endblock %}
            