
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            duplo-cego
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diz-se da pesquisa clínica comparativa entre 2 substâncias ou medicamentos em que, por um artifício de 
metodologia, nem o paciente nem o médico pesquisador sabe qual delas o paciente está usando, para afastar 
qualquer tipo de interferência externa à terap
            </p>
            {% endblock %}
            