
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Dympna, Santa
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Padroeira dos loucos. Segundo a tradição, Dympna era filha de um rei irlandês. Depois de sua conversão ao 
cristianismo, fugiu para a Bélgica, refugiando-se em Gheel. Seu pai enfurecido perseguiu-a, e não conseguindo 
reconquistar o seu afeto, matou-a. Refe
            </p>
            {% endblock %}
            