
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Döderlein, bacilo de
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Lactobacilo acidófilo, Gram-positivo anaeróbio ou anaeróbio facultativo, encontrado na secreção vaginal, cuja 
presença está ligada à produção de glicogênio pelas células epiteliais da vagina, e o ácido láctico resultante 
mantém o pH vaginal ácido; o termo
            </p>
            {% endblock %}
            