
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            echo, vírus
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Abreviação de &#34;enteric cytopathogenic human orphan&#34;; grupo de vírus causadores da meningite asséptica 
sazonal epidêmica, também chamado vírus órfão.
            </p>
            {% endblock %}
            