
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ecletismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sistema terapêutico em que se misturam vários métodos de tratamento; admissão de várias teorias, hipóteses 
ou sistemas em um conjunto único.
            </p>
            {% endblock %}
            