
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ecografia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ultra-sonografia; estado afásico em que o paciente repete em voz alta os caracteres da escrita, mas não é capaz 
de escrever com o objetivo de exprimir idéias.
            </p>
            {% endblock %}
            