
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            eczema
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Alteração cutânea caracterizada por formação de vesículas, rubefação, exsudação, formação de crostas e 
descamação, acompanhada de prurido, e provocada por muitas causas (tóxicas, irritativas, metabólicas).
            </p>
            {% endblock %}
            