
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            edipismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Dano provocado nos olhos pelo próprio indivíduo, como o fez Édipo, o rei de Tebas da Grécia antiga, ao saber 
que se casara com a mãe e matara o pai.
            </p>
            {% endblock %}
            