
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            efeito placebo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É o efeito em que placebos atuam como se fossem medicamentos aliviando sintomas, como dor pós-operatória,  
náuseas ou prurido, o que pode ocorrer em aproximadamente um terço dos pacientes.
            </p>
            {% endblock %}
            