
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            efetividade
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            A demonstração, em condições existentes na comunidade, de que um tratamento funciona. Estudos de 
efetividade geralmente incluem uma amostra de pacientes maior e mais representativa da população do que 
estudos de eficácia. As condições em que os pacientes
            </p>
            {% endblock %}
            