
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            efélide
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Manchas pigmentadas pequenas de cor parda, não-escamosas, numerosas ou profusas, e confluentes, 
dispostas simetricamente (face, nariz e fronte, dorso das mãos e antebraços), comumente chamadas de sarda.
            </p>
            {% endblock %}
            