
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Electra, complexo de
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Termo para designar a tendência erótico-afetiva da filha ao pai, com antagonismo à mãe. O termo advém de 
Electra, filha de Agamenon e Clitemnestra, e irmã de Orestes. Ajudou Orestes a se vingar do assassino do pai, 
tornando-se inspiração de várias obras c
            </p>
            {% endblock %}
            