
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            elefantíase
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença caracterizada pela intumescência e endurecimento da pele e do tecido subcutâneo, provocada por 
obstrução dos vasos linfáticos. As pernas e o escroto são as partes mais atingidas.
            </p>
            {% endblock %}
            