
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            elemento
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substância cujos átomos têm, todos, o mesmo número de elétrons planetários e o mesmo número de prótons 


em seus núcleos, sendo, assim, idênticas as suas propriedades químicas; substância elementar que não pode 
ser decomposta quimicamente; corpo simples, de
            </p>
            {% endblock %}
            