
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            eletrólito
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Solução capaz de conduzir eletricidade por meio de seus iontes; toda a substância dissolvida em um líquido que, 
em contato com a corrente elétrica, é capaz de se dissociar.
            </p>
            {% endblock %}
            