
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            eletrocardiograma
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Traçado gráfico das correntes elétricas oriundas da contração do músculo cardíaco. Nele, observa-se uma 
deflexão para cima, ou complexo auricular, designado onda P, e outras deflexões designadas Q, R, S e T, que 
indicam o complexo ventricular.
            </p>
            {% endblock %}
            