
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            eletrochoque
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Terapêutica psiquiátrica antiga que utilizava uma descarga da corrente elétrica no cérebro para provocar perda 
da consciência e convulsões tônicas e clônicas, como terapia dos quadros esquizofrênicos paranóides e 
depressivos profundos; proposto por Cerlet
            </p>
            {% endblock %}
            