
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            eletrencefalograma
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Traçado gráfico das correntes elétricas que se originam no encéfalo, mediante eletrodos colocados no couro 
cabeludo, na superfície encefálica, ou dentro da substância encefálica.
            </p>
            {% endblock %}
            