
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            elétron
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Partícula fundamental na constituição dos átomos e moléculas, portadora da menor quantidade de carga elétrica 
livre que se conhece, com massa igual a 1/1837 vezes a massa do próton.
            </p>
            {% endblock %}
            