
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            embalsamamento
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Processo de conservação do cadáver evitando sua putrefação, envolvendo o corpo com substâncias 
antissépticas, sendo atualmente usada a introdução de solução de formalina nos vasos.
            </p>
            {% endblock %}
            