
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            empolar
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Formar bolhas na pele, em consequência de queimaduras, aplicações cáusticas, por afecções cutâneas ou 
reflexos cutâneos; introduzir líquidos em empolas de vidro.
            </p>
            {% endblock %}
            