
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            encanar
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Reduzir fraturas de ossos longos (cano, em latim, significa flauta, análoga a osso longo, como a tíbia); 
posteriormente o termo se generalizou a toda redução de fratura.
            </p>
            {% endblock %}
            