
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            endocrinologia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Especialidade médica que estuda as glândulas de secreção interna (tiróide, hipófise, supra-renais, pâncreas, 
etc.), tanto em relação ao seu funcionamento normal quanto patológico.
            </p>
            {% endblock %}
            