
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            enfarte
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ingurgitamento; inchação; o mesmo que enfartação e enfartamento; erradamente, usa-se essa designação para 
mencionar a necrose em conseqüência de supressão de circulação de um território vas-cular, que mais 
propriamente se deverá denominar infarto.
            </p>
            {% endblock %}
            