
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            enxaqueca
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Síndrome constituída por cefaléias periódicas, muitas vezes unilaterais, e que se acompanham de náuseas, 


vômitos e perturbações sensoriais variáveis; mururu (pop.).
            </p>
            {% endblock %}
            