
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            epiglote
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Estrutura cartilaginosa e elástica situada entre a parte posterior da língua e a glote (entrada da laringe), e que 
durante a deglutição fecha a laringe, evitando que nela penetrem os alimentos ingeridos.
            </p>
            {% endblock %}
            