
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            epífise cerebral
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Corpúsculo oval, situado no cérebro, por cima e atrás das camadas ópticas, e ao qual se atribuem funções 
endócrinas; corpo pineal; glândula pineal.
            </p>
            {% endblock %}
            