
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            eritroblastose fetal
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença hemolítica do recém-nascido que se caracteriza por presença de eritroblastos no sangue, icterícia 
intensa, destruição das hemácias (anemia hemolítica) e outras conseqüências que dependem do grau de 
destruição das hemácias. A eritroblastose fetal oc
            </p>
            {% endblock %}
            