
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            eritrasma
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Queratofitose caracterizada por placas pardacentas, avermelhadas ou róseo-amarelados, comuns em homens, 
localizadas, geralmente, nas dobras genitocrurais.
            </p>
            {% endblock %}
            