
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Eros
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sinônimo de libido (satisfação do princípio do prazer), desejo em antagonismo com Tanatos, o instinto de morte, 
destruição, desprazer. Seu nome advém da mitologia grega, em que Eros era o filho de Vênus, a deusa do 
Amor.
            </p>
            {% endblock %}
            