
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            erro tipo II
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            A probabilidade de aceitar a hipótese nula por variação (erro) aleatória, quando a mesma deveria ser rejeitada; 
não achar uma diferença quando na verdade ela existe.
            </p>
            {% endblock %}
            