
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            erupção
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ato de aparecer ou tornar visível; aparecimento súbito de sintoma, geralmente manchas ou eflorescências 
cutâneas; lesão da pele com vermelhidão e saliência.
            </p>
            {% endblock %}
            