
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            escara
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Crosta resultante da morte de tecidos, devido à gangrena ou ação de cáusticos, calor, frio, ou atrito prolongado 
do corpo com o leito.
            </p>
            {% endblock %}
            