
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            escarlatina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença contagiosa, aguda, epidêmica, com febre alta, erupção puntiforme vermelho-escarlate, que se 
transforma em mancha ampla e se espalha por todo o corpo, língua em morango (avermelhada, inflamada, 
saburrosa). É causada por um estreptococo hemolítico.
            </p>
            {% endblock %}
            