
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            esclerótica
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Branco do olho; membrana externa, branca, dura, com fenda anterior onde se encaixa a córnea transparente e 
outra posterior por onde passa o nervo óptico.
            </p>
            {% endblock %}
            