
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            escorbuto
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Estado mórbido devido à carência de ácido ascórbico (vitamina C) no regime alimentar, caracterizado por 
debilidade, anemia, hemorragia na mucosa gengival, etc. .
            </p>
            {% endblock %}
            