
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            espasmo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Distúrbio motor-dependente de irritação sobre qualquer ponto do arco reflexo, espinhal ou bulbo-espinhal, 
caracterizado por contração involuntária violenta de um músculo ou grupo de músculos.
            </p>
            {% endblock %}
            