
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            espectro antibiótico
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Conjunto de germes sobre os quais atua determinado antibiótico, dizendo-se deste, conforme o número, maior 
ou menor, de germes sensíveis, que é de curto ou de largo espectro.
            </p>
            {% endblock %}
            