
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            espermatozóide
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Elemento fecundante masculino, composto de uma parte dilatada (cabeça) que representa o núcleo, uma 
espécie de pescoço, peça intermediária, uma parte alongada, cauda, e um filamen-to terminal que serve à 
locomoção.
            </p>
            {% endblock %}
            