
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            espru
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença crônica que se manifesta por evacuações abundantes, pastosas, espumosas, anemia, emagrecimento e 
fraqueza, devido à absorção deficiente de gordura e hidratos de carbono. Geralmente é observada nos trópicos.
            </p>
            {% endblock %}
            