
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            esquistossomose mansônica
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença crônica, endêmica, que ocorre na África e nas Américas do Sul e Central, causada pelo Schistosoma 
mansoni. A penetração das cercárias (larvas) na pele provoca prurido, que pode ser seguido ou não de crises de 
urticária, dependendo da sensibilidade
            </p>
            {% endblock %}
            