
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            esquizofrenia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Termo criado por Eugen Bleuler, psiquiatra suíço (1857-1939), em substituição ao usado por Morel e Kraepelin - 
demência precoce - que corresponde a um conjunto de transtornos em que predominam a discordância, a 
incoerência ideoverbal, a ambivalência, o au
            </p>
            {% endblock %}
            