
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            estatística
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ciência que colige dados numéricos para comparações e ilações sobre freqüência, valores ou significação; 
conjunto de dados numéricos sobre qualquer ramo das atividades humanas.
            </p>
            {% endblock %}
            