
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            estratificação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É o detalhamento de alguma variável que irá contribuir para responder aos objetivos da pesquisa; os dados 
coletados são analisados e os resultados são divididos em estratos. Dada a heterogeneidade da população, a 
amostra também deverá ser heterogênea.
            </p>
            {% endblock %}
            