
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            estroboscópio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Dispositivo destinado à iluminação ou à observação periódica de um sistema vibrante, e com o auxílio do qual se 
podem reconhecer diferentes características do movimento.
            </p>
            {% endblock %}
            