
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            estudo retrospectivo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diz-se do estudo que avalia, retrospectivamente, determinado(s) fato(s) ocorrido(s) em determinado momento e 
circunstâncias; quando o estudo retrospectivo não se mostra concludente ou suficientemente claro, os seus 
dados podem servir para a elaboração de
            </p>
            {% endblock %}
            