
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            estudo tipo coorte
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Identifica-se um grupo de pessoas que possua o fator de risco, e comparam-se as taxas de incidência dos 
grupos com ou sem fator de risco.
            </p>
            {% endblock %}
            