
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            estudo de caso-controle
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É definido como um estudo no qual a determinação da associação da doença com um ou mais fatores é 
baseada na distribuição destes fatores entre dois grupos distintos: grupo de indivíduos afetados pela doença 
comparado a um grupo controle de indivíduos não-
            </p>
            {% endblock %}
            