
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            estudos de utilização de medicamentos
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Segundo o Ministério da Saúde, são aqueles relacionados com a comercialização, distribuição, prescrição e uso 
de medicamentos em uma sociedade, com ênfase sobre as conseqüências médicas, sociais e econômicas 
resultantes; complementarmente, têm-se os estud
            </p>
            {% endblock %}
            