
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            estufa
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Compartimento ou caixa, envolta por material insulante, própria para aquecimento à temperatura constante, 
usada para secagem, incubação de micróbios, ovos e cultura de tecidos.
            </p>
            {% endblock %}
            