
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            excipiente
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substância que serve para ligar misturas medicamentosas, corrigir-lhe o gosto, diluí-las; veículo; substância que 
incorpora medicamentos (óleo, pastas, pós) facilitando sua aplicação ou prolongando seu contato.
            </p>
            {% endblock %}
            