
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            experimento
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É uma pesquisa que visa obter novas informações, confirmar ou contestar resultados de experimentos já 
realizados. Objetiva chegar a conclusões que resultem sempre em beneficio de caráter consiste na saída de ar 
dos alvéolos pulmonares permeáveis técnico e
            </p>
            {% endblock %}
            