
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            exsanguinotransfusão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Método de substituição de quase todo o sangue do paciente pelo sangue de um doador, o que se consegue pela 
retirada e transfusão de sangue, realizadas simultaneamente; idealizado em 1925, por Hart, como tratamento da 
icterícia grave do recém-nascido, e, e
            </p>
            {% endblock %}
            