
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            exsudação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Processo pelo qual alguns dos constituintes do sangue passam lentamente através das paredes dos pequenos 
vasos congestionados para os espaços ou tecidos vizinhos, durante a inflamação.
            </p>
            {% endblock %}
            