
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            faringe
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Conduto músculo membranoso, mediano, ímpar, que pertence à via respiratória e ao tubo digestivo; estende-se 
da base do crânio até o nível da 6a vértebra cervical, onde se continua com o esôfago. Está situada atrás das 
fossas nasais, cavidade bucal e larin
            </p>
            {% endblock %}
            