
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            farmacoepidemiologia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Segundo o Ministério da Saúde, aplicação do método e raciocínio epidemiológico no estudo dos efeitos - 
benéficos e adversos - e do uso de medicamentos em populações humanas.
            </p>
            {% endblock %}
            