
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            farmacologia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Estudo dos medicamentos no que diz respeito à sua origem, preparação, conservação, propriedades físicas e 
químicas, absorção, destino, excreção, ação, efeitos e usos terapêuticos.
            </p>
            {% endblock %}
            