
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fator prognóstico
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Uma condição associada com o desenvolvimento da complicação de uma doença. Difere do fator de risco por 
atuar no prognóstico e não na etiologia de uma doença.
            </p>
            {% endblock %}
            