
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fator em estudo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É o agente em investigação (fator de risco, fator prognóstico ou tratamento) que, supostamente, determina o 
efeito clínico. Em diagnóstico, é o agente em estudo que supostamente mede o efeito clínico (teste em estudo).
            </p>
            {% endblock %}
            