
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fenocópia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Influências ambientais determinando alterações genéticas de natureza somática, como idade dos pais facilitando 
a polidactilia, mongoloidismo, hidroencefalia; mutações produzidas experimental-mente.
            </p>
            {% endblock %}
            