
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fenolftaleina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Produto de fenol e ácido ortossulfobenzóico, indicador da alcalinidade, tornando-se de incolor em róseo ou 
vermelho em pH 8,3 a 10,0; injetado sob a pele, aparece na urina em 10 a 50 segundos nos indivíduos com 
função renal normal, e mais lentamente naque
            </p>
            {% endblock %}
            