
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fetidez do hálito ou do escarro
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sinal patognomônico de gangrena pulmonar, podendo provir também da boca (estomatite gangrenosa, noma) de 
tuberculose cavernosa e de bronquite fétida.
            </p>
            {% endblock %}
            