
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fezes
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Conteúdo intestinal formado de detritos alimentares, secreções, células epiteliais do aparelho gastrintestinal, e 
principalmente de bactérias mortas. Na criança, com amamentação natural, as fezes são mais moles, de cheiro 
ácido, e de coloração amarelo-ovo
            </p>
            {% endblock %}
            