
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fibroblasto
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Célula principal do tecido conjuntivo, de forma achatada. Tem a propriedade de se diferençar em outros tipos de 
células: adiposas, cartilaginosas, pigmentadas, etc. Os fibroblastos participam da formação das fibras do tecido 
conjuntivo (colágeno, elastina
            </p>
            {% endblock %}
            