
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fibroelastose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Afecção em que há acometimento do tecido fibroso e elástico; espessamento congênito da parede do 
endocárdio, com hipertrofia do miocárdio.
            </p>
            {% endblock %}
            