
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fibrina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Proteína insolúvel, filamentosa, formada pela interação do fibrogênio e da trombina, que constitui a rede de finos 
filamentos do coágulo.
            </p>
            {% endblock %}
            