
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fibroma cútis
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Pequenos tumores solitários na pele, duros, de coloração roxa ou igual à da pele; histologicamente são 
constituídos de fibroblastos e numerosas fibras colágenas.
            </p>
            {% endblock %}
            