
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            filaríase
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença produzida pela presença de filárias no sangue. Manifesta-se por sinais e sintomas diversos, conforme o 
órgão acometido pelos parasitos, tais como acessos febris, nevralgias, elefantíase e outros; filariose.
            </p>
            {% endblock %}
            