
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            filogênese
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Evolução ou história ancestral de raça ou grupo de animais; desenvolvimento dos seres vivos, desde as formas 
mais simples até as mais complicadas.
            </p>
            {% endblock %}
            