
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            filo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Do gr. philéo, amar, inclinar-se para (eosinofilia, filantropia); - do gr. phylé, tribo, estirpe, raça (filogenia, eugenia); 
- Do gr. phyllon, folha (filópodo, fili-forme).
            </p>
            {% endblock %}
            