
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            filária
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Gênero de helmintos nematóides da família Filiariidae que se localizam nos tecidos; os parasitos eliminam ovos, 
dos quais saem embriões chamados microfilárias e que circulam no sangue, provocando a filaríase.
            </p>
            {% endblock %}
            