
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fissão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Fragmentação do núcleo depois da absorção de um nêutron; quando se procede à cisão ou desintegração desse 
núcleo, liberta-se grande quantidade de energia nuclear, e produzem-se dois fragmentos de fissão, além de 
vários nêutrons, ocorrendo somente com elem
            </p>
            {% endblock %}
            