
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            flagelo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Chicote; filamento derivado do ectoplasma de bactérias ou do corpo de protozoários e que lhes serve para 
locomoção; para as bactérias, os flagelos tomam a denominação peculiar de cílios.
            </p>
            {% endblock %}
            