
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            flexão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ação e efeito de se dobrar; movimento pelo qual uma porção do corpo se dobra sobre outra. Ao dobrar-se o 
antebraço sobre o braço, faz-se a flexão do antebraço.
            </p>
            {% endblock %}
            