
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            flictena
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Levantamento da pele, devido ao acúmulo de líquido transparente geralmente produzido por queimadura; bolha 
com linfa ou pus, quando infectada.
            </p>
            {% endblock %}
            