
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            flora
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Conjunto de vegetais de uma região; tratado sobre plantas dessa região; o termo se origina de Flora, a deusa 
das flores, na mitologia romana.
            </p>
            {% endblock %}
            