
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            focomegalia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Monstruosidade, por defeito congênito, em que não há braços nem antebraços; pés e mãos inserem-se logo no 
tronco, com aspecto de foca. Esta anomalia congênita foi muito evidenciada com o uso indevido de talidomida 
por inúmeras gestantes, principalmente na
            </p>
            {% endblock %}
            