
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fomentação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Emprego terapêutico de fonte de calor, com água quente, compressas quentes, etc.; medicação calmante, 
antiflogística, usada em fricção sobre a pele.
            </p>
            {% endblock %}
            