
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            formulário terapêutico nacional
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Segundo o Ministério da Saúde, documento que reúne os medicamentos disponíveis em um país e que 
apresenta informações farmacológicas destinadas a promover o uso efetivo, seguro e econômico destes 
produtos.
            </p>
            {% endblock %}
            