
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            força de preensão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Força exercida pelos músculos das mãos e dos dedos, com a finalidade de segurar, agarrar ou apanhar alguma 
coisa ou alguém, comprometida em sérias artropatias, como a artrite reumatóide, inviabilizando atos simples do 
cotidiano dos pacientes.
            </p>
            {% endblock %}
            