
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fotossíntese
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Síntese de substâncias orgânicas em vegetais, mediante a fixação do gás carbônico do ar, através da ação de 
radiação solar. A clorofila tem participação fundamental nesse processo.
            </p>
            {% endblock %}
            