
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            frusta
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diz-se de doença cujos caracteres aparecem desfigurados. A expressão &#34;forma frusta&#34; de uma moléstia é de uso 
comum.
            </p>
            {% endblock %}
            