
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            frustração
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Em psicanálise, diz-se da decepção sofrida por um indivíduo que não realiza os seus desejos, impedido por um 
obstáculo interno ou externo, real ou imaginário.
            </p>
            {% endblock %}
            