
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            FSA
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Nas prescrições médicas de outrora, quando o médico se consagrou como formulador, esta sigla era colocada 
logo abaixo da formulação, como uma recomendação ao farmacêutico: &#34;Faça segundo a arte&#34;, referindo-se à 
arte de manipular, que era exercida pelo farm
            </p>
            {% endblock %}
            