
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fungar
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Aspirar ou expirar pelo nariz, com força e com ruído; em certas afecções nasais (desvio do septo, coriza, pólipos, 
adenóides) o movimento se repete amiúde, tornando-se um vício.
            </p>
            {% endblock %}
            