
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fígado
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Víscera volumosa, situada no hipocôndrio direito, abaixo do diafragma e dotada de múltiplas funções como 
glicogenética, antianêmica, biligênica, antitóxica, etc.; peso normal de 1400 a 1700g.
            </p>
            {% endblock %}
            