
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fístula
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Lesão que se caracteriza por um trajeto anormal, congênito ou adquirido, que estabelece comunicação com a 
superfície do corpo. Permite escoamento de líquido fisiológico ou patológico.
            </p>
            {% endblock %}
            