
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fórceps
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Instrumento cirúrgico, espécie de pinça, com duas hastes encaixáveis que permitem prender, fazer tração ou 
esmagamento, usado principalmente para extração do feto da cavidade uterina.
            </p>
            {% endblock %}
            