
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fórmula empírica
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Aquela que se refere à composição química dos corpos orgânicos, em que são expressos somente os elementos 
atômicos e suas quantidades, como no caso do ácido láctico: C3 H3 O3.
            </p>
            {% endblock %}
            