
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fórmula magistral
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Composição ou fórmula farmacêutica elaborada pelo médico. O termo advém do fato de o médico ser 
considerado, antigamente, &#34;o mestre das formulações&#34;.
            </p>
            {% endblock %}
            