
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            fóton
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Unidade de sensibilidade luminosa, isto é, a quantidade de luz, em miliampéres, multiplicada pela área da retina, 
em mm2; elemento luminoso, análogo ao elétron, isto é, radiações emitidas e propagadas como átomos de 
energia; &#34;quantum&#34; de luz.
            </p>
            {% endblock %}
            