
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            galvanismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Eletricidade de corrente contínua; emprego terapêutico de corrente direta; o termo advém de Luigi Galvani, físico 
italiano (1737-1791).
            </p>
            {% endblock %}
            