
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            gamaglobulina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Grupo de globulinas existentes no soro sangüíneo, verificáveis pela análise eletroforética e ricas de anticorpos 
protetores. Mais aumentadas no nascimento, baixam rapidamente nas primeiras semanas de vida. Sua carência, 
muitas vezes familial, torna o indi
            </p>
            {% endblock %}
            