
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            gargarejo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Lavagem da garganta com antisépticos ou outras substâncias medicamentosas, mantendo-se a cabeça em 
posição reclinada, fazendo sair ao mesmo tempo pequena quantidade de ar do pulmão para borbulhar o líquido.
            </p>
            {% endblock %}
            