
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            garganta
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Nome popular dado à laringe ou à faringe; cavidade na qual se abrem o nariz, a boca, o esôfago, a laringe e as 
tubas auditivas (trompas de Eustáquio); abertura através da qual a boca se comunica com a faringe; fauce.
            </p>
            {% endblock %}
            