
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            gastrosquise
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Herniação ou protrusão do conteúdo abdominal, onde o recém-nascido apresenta-se eviscerado, através de uma 
falha na parede umbilical, à direita do cordão umbilical normalmente implantado, que põe a cavidade peritoneal 
em contato direto com o líquido amnió
            </p>
            {% endblock %}
            