
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            gelatina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Proteína animal, retirada da pele, cascos, ossos, ligamentos, transformada em substância transparente, com 
aspecto de geléia, quando úmida, e como lâminas transparentes, quando seca; é usada na arte culinária, e foi 
com ela que Robert Koch conseguiu isola
            </p>
            {% endblock %}
            