
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            genótipo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Gene ou grupo de genes dominantes no fenômeno da herança; grupo de indivíduos com caracteres hereditários 
idênticos; biótipo.
            </p>
            {% endblock %}
            