
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            glicerina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É o tri-idroxi-propano, obtido da hidrólise de óleos e gorduras, que se apresenta como líquido xaroposo, miscível 
em álcool e água, de sabor adocicado, usado como conservante em preparações farmacêuticas e como meios 
de cultura bacteriano, denominados mei
            </p>
            {% endblock %}
            