
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            glicosídeo cardíaco
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Grupo de glicosídios de certas plantas (digital, estrofanto, cila, etc.) que exercem efeito característico sobre o 
músculo cardíaco.
            </p>
            {% endblock %}
            