
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            globulina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Fração protéica do sangue, insolúvel em água ou álcool, solúvel em certos sais e que contém anticorpos 
imunizantes; se distinguem três tipos: alfa, beta e gama, separadas por eletroforese; a primeira contém enzimas 
e hormônios, a segunda anticorpos de gru
            </p>
            {% endblock %}
            