
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            glomérulo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Pequeno enovelado de capilares sangüíneos do tamanho de um grão de areia, que é encontrado em grande 
número nos rins. Nos glomérulos se realiza a filtração dos líquidos e substâncias do plas-ma sangüíneo (filtrado 
glomerular). Esta é a primeira etapa para
            </p>
            {% endblock %}
            