
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            glândula exócrina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Glândula cuja secreção é lançada através de um conduto para o exterior do órgão que a produz, tais como as 
salivares, sebáceas, sudoríparas e lacrimais.
            </p>
            {% endblock %}
            