
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            glândula endócrina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Glândula cuja secreção se lança diretamente na corrente sangüínea, tais como hipófise, tiróide, testículos, 
ovários, epífise, timo, paratiróides, parte endócrina do pâncreas e supra-renais.
            </p>
            {% endblock %}
            