
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            gonadotrofina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Hormônio que estimula as gônadas. Há três tipos: do lobo anterior da hipófise; coriônica, da urina de mulher 
grávida; e coriônica do soro de éguas prenhes, ou gonadotrofina eqüina.
            </p>
            {% endblock %}
            