
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            gota militar
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Gonorréia crônica em que aparece apenas uma gota de pus matinal; o termo advém de uma forma comum nos 
quartéis (pop.).
            </p>
            {% endblock %}
            