
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            gota
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Artrite recorrente aguda de articulações periféricas que resulta na deposição - em torno das articulações e 
tendões - de cristais de urato monossódico de líquidos supersaturados de corpos hiperuricêmicos.
            </p>
            {% endblock %}
            