
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            gripe
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença infecciosa produzida por vírus, e que, a par de fenômenos gerais (febre, cefaléia, mal-estar, etc.), produz 
manifestações respiratórias, tais como irritação nasofaríngea e laríngea, e espirros; influenza.
            </p>
            {% endblock %}
            