
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            gânglio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Massa de células nervosas que  atuam como centro de influência nervosa; aglomerado ou corpo no trajeto dos 
vasos linfáticos, o qual contém células de defesa contra microrganismos.
            </p>
            {% endblock %}
            