
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            habitat
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Vivenda; lugar ou região onde um organismo pode viver; lugar onde um ser vivo animal ou vegetal pode ser 
encontrado comumente.
            </p>
            {% endblock %}
            