
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            hapteno
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Antígeno incompleto ou parcial; não produz anticorpo, mas combina-se, in vitro, aos anticorpos; combinado com 
proteínas, torna-se antígeno.
            </p>
            {% endblock %}
            