
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Havers, canais de
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Finos canais existentes nos ossos, que contêm vasos sangüíneos, linfáticos e nervos necessários à vida e à 
reparação do tecido ósseo. O termo advém de Clopton Havers, médico e anatomista inglês (1650-1702).
            </p>
            {% endblock %}
            