
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            hematopoiéticos, órgãos
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Órgãos onde se formam os glóbulos sangüíneos; medula óssea e tecido linfóide; eventualmente também o 
fígado e o baço.
            </p>
            {% endblock %}
            