
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            hemopoetina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Eritropoetina; substância do estômago e que age como um fator sobre a proteína alimentar a fim de produzir 
substância hematopoética semelhante ao princípio ativo do fígado.
            </p>
            {% endblock %}
            