
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            hemoptise
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Hemorragia; eliminação do sangue proveniente da árvore respiratória pela boca. Na tuberculose pulmonar, uma 
das complicações mais comuns.
            </p>
            {% endblock %}
            