
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            hemorragia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Saída de sangue para fora dos vasos que normalmente o contêm. As hemorragias classificam-se conforme o 
tipo de vaso que perde o sangue: hemorragia arterial (sangue vermelho-vivo, que sai aos jatos), hemorragia 
venosa (o sangue proveniente das veias, de co
            </p>
            {% endblock %}
            