
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            hemofilia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Condição hemorrágica hereditária que incide quase sempre no homem e só excepcionalmente na mulher, é 
caracterizada por hemorragias precoces, abundantes e prolongadas, que se repetem por ocasião de 
traumatismos mínimos subcutâneos, submucosos, musculares,
            </p>
            {% endblock %}
            