
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            hermafroditismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Vício de conformação dos órgãos genitais, caracterizado pela presença, no mesmo indivíduo, de órgãos 
mas-culinos e femininos. No homem não existe, e sim nos animais inferiores; no homem há 
pseudo-hermafroditismo, sempre corrigível.
            </p>
            {% endblock %}
            