
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            hermafrodito
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diz-se de, ou ser que possui órgãos reprodutores dos dois sexos. Filho de Hermes (Mercúrio) e de Afrodite 
(Vênus), maravilhosamente belo, personificava para os gregos uma síntese das perfeições estéticas dos dois 
sexos.
            </p>
            {% endblock %}
            