
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            heroína
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Alcalóide poderoso, mais forte que a morfina, de que é um derivado sintético, apresenta ação euforizante no 
sistema nervoso central, podendo levar à dependência física e psicológica.
            </p>
            {% endblock %}
            