
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            herpes zóster
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença aguda, produzida por vírus, caracterizada pela inflamação de um ou mais gânglios de raízes nervosas 
dorsais ou de gânglios de nervos cranianos. Apresenta-se como erupção vesicular dolorosa, na pele ou nas 
membranas mucosas, que se distribui ao long
            </p>
            {% endblock %}
            