
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            heterólogo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diferente; derivado de espécie diferente; relativo a órgão de estrutura ou função diversa dos demais, ou a 
compostos químicos ou série de compostos que apresentam analogias de estrutura mas propriedades 
diferentes.
            </p>
            {% endblock %}
            