
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            hidratação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Introdução de água e sais minerais no organismo pela boca ou mais comumente pela veia (soro). O paciente 
torna-se desidratado quando sofre hemorragia, vômitos, diarréias, queimaduras. As crianças são particularmente 
sensíveis à &#34;desidratação&#34;, sendo este
            </p>
            {% endblock %}
            