
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            hipo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Do gr. hypó, abaixo, sob, menos (hipocôndrio, hipotireoidismo); - do gr. hippos, cavalo (efípio).
            </p>
            {% endblock %}
            