
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Hipócrates
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Pai da Medicina, maior médico da Antiguidade (ilha de Cós 460-Tessalia 364 a.C.). Iniciador da observação 
clínica, deixou um corpo de doutrinas (Corpus hippocraticum) dos mais notáveis e de que fazem parte 
numerosos tratados: sobre os ares, as águas e os
            </p>
            {% endblock %}
            