
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            histamina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Amina (beta imidazol etilamina) encontrada em tecidos animais e vegetais, que exerce efeito dilatador sobre os 
capilares e estimulante da secreção gástrica; desenvolve papel importante em processos alérgicos.
            </p>
            {% endblock %}
            