
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            HIV
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sigla de &#34;Human Immunodeficiency Virus&#34;, ou seja vírus da imunodeficiência humana, responsável pela 
síndrome de imunodeficiência adquirida - sida ou aids - que infecta principalmente as células necessárias à 
defesa do organismo, permitindo que outros víru
            </p>
            {% endblock %}
            