
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            homeopatia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sistema terapêutico criado por Christian Friedrich Samuel Hahnemann (1755-1843), que consiste em tratar as 
doenças por meio de substâncias ministradas em doses diluídas a ponto de se tornarem, por vezes, quantidades 
infinitesimais, capazes de produzir, em
            </p>
            {% endblock %}
            