
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            hérnia estrangulada
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Aquela em que há sofrimento circulatório do(s) órgão(s) porventura contido(s) em seu saco e cuja vitalidade está 
ameaçada, podendo estes vir a necrosar-se, caso o comprometimento circulatório não seja tratado em tempo.
            </p>
            {% endblock %}
            