
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            hérnia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Passagem, parcial ou total, de uma estrutura anatômica através de orifício patológico ou tornado patológico, de 
sua localização normal para outra, anormal.
            </p>
            {% endblock %}
            