
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            icterícia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Derrame de bílis no sangue, com anemia, pigmentação amarela generalizada da pele, deposição de bílis nos 
tecidos, adinamia e bradicardia. É resultante de patologia hepática, hematológica ou, ainda, por obstrução do 
escoamento da bílis para o intestino.
            </p>
            {% endblock %}
            