
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            id
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Representa o princípio do prazer, da alegria, da euforia e domina os instintos eróticos. As modificações de seus 
impulsos se abrem para o ego e o superego. É a parte obscura e inacessível da personalidade. Imagina-se que 
toma contato direto com processos
            </p>
            {% endblock %}
            