
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            idiograma
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diagrama de complemento cromosômico, baseado na medida de cromosomas de certo número de células; 
gráfico das fotografias de cromosomas de uma célula, alinhados por ordem de tamanho e posição relativa do 
centrômero, de acordo com a classificação de Denver.
            </p>
            {% endblock %}
            