
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            idiotia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Atraso intelectual profundo caracterizado por ausência de linguagem e nível mental inferior a 3 anos de idade 
nas provas de inteligência.
            </p>
            {% endblock %}
            