
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            idiossincrasia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Qualidade peculiar de certos indivíduos, com suscetibilidade exagerada, fazendo com que reajam anormalmente 
a determinadas substâncias, medicamentosas ou não, perfeitamente toleradas pela grande maioria das pessoas.
            </p>
            {% endblock %}
            