
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ilíaco
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Cada um dos dois ossos constituídos de três partes, ílio, ísquio e púbis, que, articulando-se anteriormente entre 
si e posteriormente com o sacro, contribuem para formar o esqueleto ósseo da bacia.
            </p>
            {% endblock %}
            