
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            imago
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Lembrança, fantasia ou ideação de uma pessoa querida, formada na infância e que se conserva sem 
modificação na vida adulta; nome da revista, fundada e dirigida por S. Freud, em Viena, 1912, destinada às 
publicações não-médicas da psicanálise, como literat
            </p>
            {% endblock %}
            