
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            imbecilidade
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Atraso mental acentuado, entre a debilidade mental e a idiotia; distingue-se da última pela aquisição da 
linguagem falada; nível mental entre 3 e 7 anos.
            </p>
            {% endblock %}
            