
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Imhotep
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Deus egípcio da Medicina, viveu em torno de 3000 a.C. e trabalhou como grão-vizir, arquiteto, chefe dos leitores 
sagrados, sábio, escriba e médico. Provavelmente, o Papiro de Ebers, uma das gran-des relíquias da antiga 
medicina egípcia, pertence a um de s
            </p>
            {% endblock %}
            