
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            imponderável
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Que não se pode pesar; que não tem peso; quantidade desprezível, insignificante; que não entra no peso ou na 
contagem; elemento ou circunstância indefinível que influi em determinada matéria ou assunto; que não pode ser 
avaliado, que não é digno de ponder
            </p>
            {% endblock %}
            