
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            impregnação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Infiltração; fixação e coloração por certos compostos, como nitrato de prata; embebição; estado de certos 
pacientes psiquiátricos durante o uso de altas doses diárias de psicotrópicos, cuja sintomatologia simula a 
síndrome de Parkinson; pseudoparkinson.
            </p>
            {% endblock %}
            