
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            impulso, componentes do
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diferentes impulsos sexuais que, para S. Freud, representam forças parciais de satisfação somática, 
representados na criança por atos diversos, como morder, chupar o dedo, defecar, urinar, etc.
            </p>
            {% endblock %}
            