
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            imunidade específica
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É a que se adquire após determinadas doenças ou é produzida artificialmente por inoculação, por injeção de 
soro sangüíneo de animais já imunizados. A imunidade específica depende da presença de anticorpos ou de 
linfócitos sensibilizados.
            </p>
            {% endblock %}
            