
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            inconsciente
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Conjunto dos processos e fatos psíquicos que atuam sobre a conduta do indivíduo, mas escapam do âmbito da 


consciência e não podem a esta ser trazidos por nenhum esforço da vontade ou da memória, aflorando, 
entretanto, nos sonhos, nos atos falhos e visuali
            </p>
            {% endblock %}
            