
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            incubação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Período de tempo que vai da ocasião em que o indivíduo contrai um determinado microrganismo e o 
aparecimento dos sintomas da doença por ele provocada; manutenção por algum tempo de crianças, que 
nasceram prematuramente, em temperatura igual ou aproximada
            </p>
            {% endblock %}
            