
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            infiltração
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Invasão dos tecidos por um líquido do organismo (urina, sangue, etc.), por um líquido injetado, por gases ou por 
tecido neoplásico; processo pelo qual as substâncias penetram nos tecidos ou nas células.
            </p>
            {% endblock %}
            