
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            infortunística
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Parte da Medicina Legal que se ocupa dos riscos de acidentes de trabalho nas indústrias; estudo das doenças 
profissionais.
            </p>
            {% endblock %}
            