
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            infância
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Primeiro período da vida; meninice. A infância se divide em três períodos: 1a infância (até dois anos), 2a infância 
(2-6 anos) e 3a infância (7-12 anos).
            </p>
            {% endblock %}
            