
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            inseto
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Artrópode de três pares de patas, com corpo envolto por quitina, dividido em cabeça, tórax, abdome, um par de 
antenas, e, em regra, dois pares de asas.
            </p>
            {% endblock %}
            