
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            instinto
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Comportamento hereditário, invariável, comum aos indivíduos da mesma espécie, com um fim determinado, do 
qual o individuo não tem conhecimento pleno. Nos animais os instintos são poderosos e regulam a sua conduta; 
no homem, manifestam-se atenuados ou plás
            </p>
            {% endblock %}
            