
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            insumos farmacêuticos
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Segundo o Ministério da Saúde, qualquer produto químico ou material utilizado no processo de fabricação de um 
medicamento, seja na sua formulação, envase ou acondicionamento.
            </p>
            {% endblock %}
            