
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            insulina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Hormônio produzido pelas ilhotas de Langerhans do pâncreas (parte endócrina). Favorece o transporte de 
glicose do sangue para os tecidos (principalmente fígado e músculos), onde é armazenada sob a forma de 
glicogênio. A insulina controla os níveis de glic
            </p>
            {% endblock %}
            