
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            intervalo de confiança
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Expressão da ciência estatística que representa um intervalo não-nulo no domínio de um parâmetro de uma 
distribuição, em geral dependente de uma estimativa deste parâmetro, ao qual está associada uma 
probabilidade de a ele pertencer o parâmetro.
            </p>
            {% endblock %}
            