
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            interferência estatística
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É a generalização de que os resultados na amostra representam a verdade para uma população maior, em que 
diz respeito só a variação (erro) aleatória na amostragem. Havendo erros sistemáticos, a inferência é feita para 
uma população diferente da população-
            </p>
            {% endblock %}
            