
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            introversão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Torção ou destorção de órgão para dentro; desvio da libido em que o indivíduo não fixa o objeto, mas fixa-o em 
si mesmo.
            </p>
            {% endblock %}
            