
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            isóloga, série
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Em Química, diz-se de grupos de substâncias que se dispõem em linha horizontal, diferindo cada um do 
antecedente pela diminuição do expoente de um dos elementos.
            </p>
            {% endblock %}
            