
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Jocasta, complexo de
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Mãe e mulher de Édipo, na mitologia grega; no quadro psicanalítico do complexo de Édipo, representa o papel 
da mãe.
            </p>
            {% endblock %}
            