
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Juramento de Hipócrates
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Juro por Apolo, o médico, por Esculápio, por Higiria e Panacéia e por todos os deuses e deusas que, de acordo 
com minhas habilidades e meu julgamento, cumprirei o seguinte juramento e compromisso: considerar aquele 
que me ensinou esta arte tão caro quanto
            </p>
            {% endblock %}
            