
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Koch, bacilo de
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Bactéria causadora da tuberculose; Mycobacterium tuberculosis. O termo advém de Robert Koch, 
bacterio-logista alemão (1843?1910).
            </p>
            {% endblock %}
            