
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            L+
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Símbolo para limite morte, quantidade mínima de toxina que, misturada a uma unidade de antitoxina, causa a 
morte do animal dentro do prazo em que a toxina mata.
            </p>
            {% endblock %}
            