
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            labirinto
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sistema de intercomunicações múltiplas; ouvido médio, constituído pelo labirinto ósseo (série de cavidades na 
porção pétrea do osso temporal) e pelo labirinto membranoso (conjunto de sacos e canais membranosos, 
intercomunicantes, de cavidades ósseas).
            </p>
            {% endblock %}
            