
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            lanugem
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Pêlos finos do corpo do feto; pêlos finos encontrados em certas partes do corpo; pêlos que às vezes precedem o 
aparecimento da barba.
            </p>
            {% endblock %}
            