
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            larvífago
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Que come larvas; o termo se aplica a animais de vida aquática, particularmente peixes que comem larvas de 
mosquitos. Das espécies mais ativas contam-se os poecilídeos ou barrigudinhos, abundantes em águas paradas 
ou em riachos de volume pequeno e lento de
            </p>
            {% endblock %}
            