
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            larva migrans
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Erupção cutânea conseqüente a um ciclo errático da larva do ancilóstomo, em que a larva permanece no local 
da pele, onde penetra e ali vai passeando em rotas irregulares, e ao mesmo tempo provoca erupção congestiva 
e pruriginosa, sob a forma de cordões se
            </p>
            {% endblock %}
            