
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            laser
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sigla de &#34;Light Amplification by Stimulated Emission of Radiation&#34;: dispositivo que produz feixe de luz 
monocromática, capaz de fornecer calor intenso em foco mínimo.
            </p>
            {% endblock %}
            