
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            latência
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Período silencioso entre o estímulo e a resposta; fase da doença infecciosa entre a penetração do germe e o 
aparecimento dos sinais de sua atividade no organismo; incubação.
            </p>
            {% endblock %}
            