
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            lavagem
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Irrigação de cavidade orgânica para retirada de líquidos, secreções, ou para introdução de substâncias 
medicamentosas dissolvidas ou suspensas no líquido de lavagem. A lavagem pressupõe sempre abundância de 
líquido a introduzir na cavidade.
            </p>
            {% endblock %}
            