
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            leishmaniose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Moléstia infecciosa transmissível, da qual se conhecem o tipo cutâneo ou oriental (Botão do Oriente; Uta, no 
Peru; Úlcera de los chicleros, no México) e o tipo cutaneomucoso, ou americano (Úlcera de Bauru; Espúndia, no 
Peru), ambos determinados por tripan
            </p>
            {% endblock %}
            