
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            leitelho
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Leite acidificado, sem manteiga, obtido por fermentação natural ou artificial. Para os pediatras, o leitelho é um 


leite cru, ao qual se adiciona fermento láctico, açúcar, farinha de trigo ou maisena.
            </p>
            {% endblock %}
            