
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            leite
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Produto de secreção da glândula mamária, constituindo alimento completo, capaz de nutrir o lactente até o 
desenvolvimento satisfatório.
            </p>
            {% endblock %}
            