
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            leucemia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença caracterizada por leucocitose, presença no sangue periférico de células sangüíneas embrionárias, 
aumento de órgãos linfóides (gânglios, tonsilas, baço), da atividade da medula óssea, anemia progressiva, 
hemorragias e fraqueza.
            </p>
            {% endblock %}
            