
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            leucoplaquia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Zonas ou placas espessadas na pele ou mucosas, devido à hipercera-tose ou hiperplasia cutânea; quando na 
vulva chama-se craurose; leucoplasia.
            </p>
            {% endblock %}
            