
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            linimento
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Medicamento para aplicação local em suaves fricções sobre a pele, cuja atividade está relacionada com o 
aumento da circulação local. É veiculado por óleos, álcool ou essências.
            </p>
            {% endblock %}
            