
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            lombrosiano
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Biótipo com os caracteres, supostamente inatos, dos criminosos. O termo advém de Cesare Lombroso, 
criminologista italiano (1835-1909) que iniciou os estudos da antropologia criminal ao publicar, em 1874, o livro 
&#34;L'uomo delinqüente&#34; (O homem criminoso). S
            </p>
            {% endblock %}
            