
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            longilíneo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Que apresenta corpo fino; distância pupilar pequena, nariz afilado e arqueado, maxilar fino e pouco 
desenvolvido, dentes aproximados, pescoço longo e fino, ombros quadrados e elevados, membros longos, ossos 
longos e finos, tronco curto, cintura estreita,
            </p>
            {% endblock %}
            