
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            luxação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Lesão da articulação, com deslocamento das extremidades dos ossos do local onde geralmente estão 
articuladas. Além disso, ocorrem também esmagamento dos tecidos vizinhos e rotura dos ligamentos que 
mantém o osso em seu lugar; deslocamento de um órgão da s
            </p>
            {% endblock %}
            