
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            lábio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Cada uma das dobras da pele, e que fecham a abertura da boca. Distintos em superior e inferior, são 
cutâneomucosas, servem à apreensão de alimentos e à articulação das palavras ou sílabas labiais.
            </p>
            {% endblock %}
            