
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            láctico, ácido
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Líquido incolor, azedo, produzido pela ação do Lactobacillus acidophilus (bactéria) sobre o açúcar do leite. O 
ácido láctico se forma também durante a atividade muscular e é proveniente, nesse caso, da degradação da 
glicose.
            </p>
            {% endblock %}
            