
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            lâmina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Chapa delgada de metal ou outro material; fragmento chato e delgado de qualquer substância; pequena placa de 
vidro que serve de porta-objeto em microscopia.
            </p>
            {% endblock %}
            