
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            lêvedo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Designação genérica de certos fungos unicelulares da família das sacaromicetáceas, agentes de fermentação, 
empre-gados na preparação de bebidas alcóolicas não-destiladas e na panificação; alguns lêvedos são 
patogênicos para o homem, porém outros são úteis
            </p>
            {% endblock %}
            