
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            líquido cefalorraquidiano
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Liquor; líquido seroso que existe nos ventrículos cerebrais e no canal raquidiano, banhando a parte central do 
sistema nervoso.
            </p>
            {% endblock %}
            