
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            líquen
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Grupo de plantas que resultam da simbiose de algas e fungos; dermatose eruptiva (pápula achatada, às vezes 
umbilicada, brilhante, de coloração róseo-azulada). Essas lesões se acompanham de prurido mais ou menos 
intenso, porém pode faltar, chamado também d
            </p>
            {% endblock %}
            