
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mach
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Unidade de concentração da emanação de radium; símbolo ME (1 ME = 3,64 x 10-10 curies por litro); com o 
mach mede-se a radioatividade das águas minerais. O termo advém de Ernest Mach, físico austríaco 
(1838-1916).
            </p>
            {% endblock %}
            