
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            macrobiótica
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Arte de prolongar a vida e de torná-la mais saudável pela observação de determinadas regras de higiene e 
alimentação; dieta com base em cereais integrais, legumes e frutas secas.
            </p>
            {% endblock %}
            