
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            magnetismo animal
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Força vital de que são dotados certos indivíduos, e que propicia uma série de fenômenos paranormais, segundo 
a teoria de Frans A. Mesmer, médico vienense (1733-1815), criador do mesmerismo.
            </p>
            {% endblock %}
            