
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            malarioterapia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Antigo método terapêutico usado antes do advento da penicilina, no tratamento da sífilis, especialmente na 
paralisia geral, com distúrbios neuropsiquiátricos.
            </p>
            {% endblock %}
            