
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            maltusianismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doutrina do economista inglês Reverendo T. R. Malthus, (1766-1834) de que a produção mundial de alimentos 
segue um crescimento aritmético, enquanto que o da população é geométrico, devendo resultar, em breve 
tempo, carência alimentar no mundo, tornando-se
            </p>
            {% endblock %}
            