
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mandril
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Haste para ser introduzida nas agulhas de injeção ou catéteres, para que fiquem inflexíveis, desobstruí-los ou 
evitar seu entupimento.
            </p>
            {% endblock %}
            