
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            manguito
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Faixa de pano para provocar estase dos vasos do braço, no aparelho de pressão, ou para punção venosa; 
retalho de pele e tecido conjuntivo dissecado pelo cirurgião, a fim de cobrir a extremidade do coto de membro 
amputado.
            </p>
            {% endblock %}
            