
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            margarina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Éster glicérico do ácido margárico; gordura extraída de óleos e do tecido adiposo de animais; manteiga artificial, 
feita com óleos vegetais e gorduras animais.
            </p>
            {% endblock %}
            