
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            maser
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sigla de &#34;Microwave Amplification by Stimulated Emission of Radiation&#34;: dispositivo que produz radiação 
monocromática muito intensa.
            </p>
            {% endblock %}
            