
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            masoquismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Perversão sexual em que tratamento cruel em si próprio proporciona prazer; auto-sadismo; o termo advém de 
Leopold Von SacherMasoch, (1836-1895), novelista austríaco que escreveu várias obras ressaltando o prazer 
sexual através do sofrimento.
            </p>
            {% endblock %}
            