
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            matidez
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Qualidade de som obscuro, ou com som maciço ou abafado; sinal físico caracterizado por ausência de 
sonoridade na região percutida; macicez.
            </p>
            {% endblock %}
            