
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mecanicismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doutrina que admite que determinado conjunto de fenômenos, ou mesmo toda a natureza, se reduz a um 
sistema de determinações mecânicas. Afirma-se esta doutrina, sobretudo, por conceber o movimento como 
determinado por lei causal rigorosa, e por negar todo
            </p>
            {% endblock %}
            