
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mecanismo de defesa
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Operações psicológicas que &#34;protegem o ego das exigências instintivas&#34;. Segundo a psicanálise, e em particular 
Ana Freud, seriam os seguintes os mecanismos de defesa: repressão, regressão, formação reativa, isolamento, 
anulação, projeção, introjeção, volt
            </p>
            {% endblock %}
            