
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mecha
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Fragmento de gaze introduzido no orifício de abscessos ou aberturas cirúrgicas, para funcionar como dreno e 
impedir o fechamento da abertura.
            </p>
            {% endblock %}
            