
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mecônio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Conteúdo intestinal, de cor azeitona escura, eliminada pelo feto nos primeiros dias de vida; mistura de bílis com 
detritos de células, muco e secreções intestinais, também chamado ferrado; variedade de ópio.
            </p>
            {% endblock %}
            