
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            medicamentos de interesse em saúde pública
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Segundo o Ministério da Saúde, são aqueles utilizados no controle de doenças que, em determinada 
comunidade, têm magnitude, transcendência ou vulnerabilidade relevante e cuja estratégia básica de combate é 
o tratamento dos doentes.
            </p>
            {% endblock %}
            