
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mediana
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É um valor situado no centro da distribuição de freqüências, e tem como objetivo encontrar um valor que permita 
conter 50% dos dados acima deste valor, e 50% abaixo.
            </p>
            {% endblock %}
            