
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            medicamentos genéricos
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Segundo o Ministério da Saúde, são aqueles que, ao expirar a patente de marca de um produto, são 
comercializados sem nome de marca, de acordo com a denominação oficial (no Brasil, Denominações Comuns 
Brasileiras ou DCB).
            </p>
            {% endblock %}
            