
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            medula
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substância contida na cavidade dos ossos longos ou nos interstícios dos ossos esponjosos; porção do sistema 
nervoso dentro do canal vertebral (medula espinhal); parte interna da glândula suprarenal.
            </p>
            {% endblock %}
            