
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            melancolia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Psicose caracterizada por depressão intensa, inibição, angústia, insônia, idéias de suicídio, sintomatologia esta 
que se manifesta por crises. Para Freud, resultaria de vitória absoluta do superego sobre o ego, levando-o à 
auto-anulação.
            </p>
            {% endblock %}
            