
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            melancolia involutiva
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Síndrome caracterizada por crises de melancolia que sobrevêm ao curso da idade pré-senil ou, mais 
exatamente, no climatério.
            </p>
            {% endblock %}
            