
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            menstruação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Descarga sangüínea do útero, no período da maturação sexual, desde a menarca à menopausa. Geralmente 
dura de três a seis dias e aparece de 28/28 dias.
            </p>
            {% endblock %}
            