
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mericismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Volta à boca de alimentos ingeridos, comum nas crianças que ingerem excessos de alimentos. Nos ruminantes é 
uma fase preparatória para a semidigestão (ensilagem) dos alimentos ingeridos.
            </p>
            {% endblock %}
            