
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mescalina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Alcalóide do mescal, peiote, ou cactus mexicano, com propriedades alucinogênicas; Lepophora williamsii ou 
Anhalonium lewinii era usado pelos indígenas mexicanos para produzir êxtases e visões, muito antes da 
chegada de Cortez ao México. Esta &#34;carne dos de
            </p>
            {% endblock %}
            