
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mesmerismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Antigo método terapêutico com emprego do &#34;magnetismo animal&#34; e do qual se originou a psicoterapia. O termo 
advém de Frans A. Mesmer, médico vienense (1733-1815).
            </p>
            {% endblock %}
            