
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mesênquima
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tecido conjuntivo embrionário; parte do mesoderma que formará o tecido conjuntivo do organismo, os vasos 
sangüíneos e linfáticos; é responsável pelas funções tróficas e mecânicas, com difusão dos líquidos 
embrionários.
            </p>
            {% endblock %}
            