
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            metanálise
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É um processo de combinação de resultados, mediante o qual obtêm-se conclusões sobre a efetividade 
terapêutica de um ensaio clínico, e orienta o planejamento de outras investigações; uma análise em paralelo de 
vários estudos sobre certo assunto.
            </p>
            {% endblock %}
            