
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            metabolismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Termo geral aplicado aos processos químicos e energéticos que ocorrem nas células do organismo vivo, 
constituindo a base das atividades vitais. O metabolismo abrange duas etapas: no catabolismo, nas células, os 
produtos finais da digestão sofrem combustão
            </p>
            {% endblock %}
            