
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            metabolismo de primeira passagem
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Esta degradação se inicia quando todo fármaco administrado via oral é absorvido no trato gastrintestinal e, 
através da circulação porta, vai inicialmente para o fígado, onde é submetido à biotransformação e degradação, 
podendo ser completamente metaboliza
            </p>
            {% endblock %}
            