
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            metástase
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Processo pelo qual uma doença migra para regiões do organismo distantes daquela onde se originou. Essa 
propagação da doença é devido à migração de células ou de microrganismos patogênicos; tumor secundário, 
resultante da migração.
            </p>
            {% endblock %}
            