
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            microscópio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Aparelho que aumenta o tamanho de pequenos objetos ou seres. É composto de um tubo com lentes, montado 
em suporte articulado e por onde penetra iluminação, aumentada por sistema de lentes que formam o 
condensador e onde objetos são colocados para serem vi
            </p>
            {% endblock %}
            