
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            micróglia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tipo de célula da neuróglia; célula globosa, com pequenos prolongamentos no citoplasma. Tem motilidade e 
poder fagocitário.
            </p>
            {% endblock %}
            