
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            MIF
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sigla de determinado tipo de exame de fezes, cuja colheita do material é feita em líquido conservador (composto 
de formol, mercúrio cromo, glicerina e água), o que permite realizar o exame microscópico das fezes alguns dias 
depois de colhidas, até um mês.
            </p>
            {% endblock %}
            