
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            miliequivalente
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Valor representando o milésimo da valência. Obtém-se dividindo o número de miligramas de um corpo, pelo 
peso atômico e pela sua valência.
            </p>
            {% endblock %}
            