
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mio, meio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Do gr. mys, myós, músculo, rato (miocárdio, miosite, mioclono); - do gr. meión, diminuir, reduzir (meiose, miose); 
- do gr. myo, cerrar, silenciar (mio-pia).
            </p>
            {% endblock %}
            