
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            miosina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Uma das principais proteínas dos músculos, formando mais da metade da massa muscular. Combina-se com a 
actina para formar a actinomiosina, responsável pela contratibilidade muscular. Após a morte, coagula e origina 
a rigidez cadavérica.
            </p>
            {% endblock %}
            