
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            miose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diminuição do diâmetro da pupila; redução à metade dos cromosomas da célula-mãe, em seu processo de 
maturação, chamado redução dos cromosomas, os quais passam de diplóides a haplóides, e assim admitem 
herança bilateral.
            </p>
            {% endblock %}
            