
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mitose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Divisão celular por um processo prévio de divisão nuclear, com disposição da cromatina em filamentos que se 
segmenta e se dispõe em aglomerados opostos, com o mesmo número de fragmentos ou cariosomas.
            </p>
            {% endblock %}
            