
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mongolismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Idiotia em que o paciente apresenta os caracteres fisionômicos da raça mongol; estado caracterizado por 
deformação das pálpebras, que lembra a prega mongólica, normal da raça amarela; doença de Langdon Down; 
síndrome de Down.
            </p>
            {% endblock %}
            