
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            monozigoto
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diz-se dos gêmeos que provêm de um mesmo ovo, ao contrário dos dizigotos, que nascem de dois ovos 
distintos. Os gêmeos monozigotos têm o mesmo patrimônio hereditário, são do mesmo sexo e apresentam 
características idênticas, ao contrário dos dizigotos, qu
            </p>
            {% endblock %}
            