
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mucosa
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Nome genérico dado às membranas que forram as cavidades naturais ou órgãos ocos do organismo. A mucosa 
é constituída por uma camada de tecido conjuntivo (que contém vasos sangüíneos, nervos e glândulas), 
recoberta por uma camada de epitélio, semelhante à
            </p>
            {% endblock %}
            