
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            muda
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ato de mudar; substituição periódica do revestimento externo (como nos ofídios) ou dos fâneros (como nas 
aves); substituição dos dentes de leite pelos definitivos.
            </p>
            {% endblock %}
            