
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            mutação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Mudança nas propriedades, na forma e no aspecto, adquirindo ou perdendo propriedades. A mutação é 
irreversível, diferindo da variação.
            </p>
            {% endblock %}
            