
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            módulo-padrão de suprimento
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Segundo o Ministério da Saúde, elenco de medicamentos repassado por um nível de gestão a outro para 
abastecer os serviços de saúde compreendidos no sistema estadual ou municipal.
            </p>
            {% endblock %}
            