
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            nanismo hipofisário
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Nanismo por insuficiência do lobo anterior da hipófise, na fase de crescimento, produzindo caquexia, atrofia 
adiposogenital e parada de crescimento; quando aparece precocemente provoca nanismo com distrofia genital e 
ausência de caracteres sexuais secundá
            </p>
            {% endblock %}
            