
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            narcose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sono provocado, com diminuição ou anulação da atividade reflexa, em que os músculos tornam-se relaxados. 
Pode ser provocada por drogas ou por substâncias tóxicas formadas no organismo.
            </p>
            {% endblock %}
            