
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            NEFA
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Abreviatura de &#34;Non Esterified Fat Acids&#34;, ou seja, &#34;ácidos gordurosos não-esterificados&#34; encontrado na 
formulação de certos alimentos industrializados.
            </p>
            {% endblock %}
            