
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            nefrótica, síndrome
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Quadro clínico em que predominam edema, albuminúria, diminuição da seroalbumina, inversão da relação 
soroglobulina, redução do metabolismo basal, aumento do colesterol e corpúsculos refráteis na urina.
            </p>
            {% endblock %}
            