
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            negatoscópio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Dispositivo para exame de radiografias, formado por uma placa de vidro fosco iluminada por trás, com presilha 
para suster as chapas radiográficas.
            </p>
            {% endblock %}
            