
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            neonatal, mortalidade
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Número de crianças mortas dentro de um mês de vida extra-uterina, por ano, dentre 1000 partos vivos, a termo, 
relacionado no mesmo lugar e ano.
            </p>
            {% endblock %}
            