
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            nepente
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Bebida mágica; remédio contra a tristeza da qual se falava na Antiguidade: regressando a Esparta com o marido, 
Helena servia nepente aos seus hóspedes, para extinguir as recordações dos acontecimentos de Tróia. Assim, 
restituía-lhes a tranqüilidade. Nepen
            </p>
            {% endblock %}
            