
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            neuralgia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Dor no trajeto do nervo sensitivo ou nervo misto; na maioria das vezes a dor é viva e lancinante e manifesta-se 
intermitentemente.
            </p>
            {% endblock %}
            