
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            neurofibrila
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Elemento condutor das fibras nervosas e das células nervosas; fibras que formam rede nas células nervosas e 
saem de seus prolongamentos para terminarem em músculo ou célula sensorial.
            </p>
            {% endblock %}
            