
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            neurose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Nome genérico das doenças que afetam a personalidade, sem substrato anatômico conhecido, e que se 
caracterizam por conflitos intrapsíquicos capazes de inibir as condutas sociais; acompanham-se de consciência 
do estado mórbido e, ao contrário das psicoses,
            </p>
            {% endblock %}
            