
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            neuróglia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Estrutura de sustentação do tecido nervoso, constituído de tecido oriundo de elementos ectodérmicos, em que 
há células ramificadas ou células neuróglias ou célula gliais.
            </p>
            {% endblock %}
            