
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            neuroléptico
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Agente químico com ação sedativa de tipo peculiar (não-hipnótica, anticonvulsiva ou analgésica), que provoca 
estado de indiferença e apatia, podendo levar ao sono sem produzir estado narcótico; inibe a atividade 
psicomotora, a excitação e a agressividade,
            </p>
            {% endblock %}
            