
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            néfron
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Unidade anatômica e funcional do rim; porção tubular secretória do rim, que consiste do corpúsculo renal, com a 
cápsula de Bowman, túbulos proximais, além da alça de Henle (ascendente e descendente) e túbulos distais.
            </p>
            {% endblock %}
            