
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            nível de significância
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Estabelece um critério de decisão para escolha entre Ho e Ha; baseado em técnicas estatísticas, também mede 
a probabilidade do pesquisador cometer um erro ao tomar decisão. É o nível de confiança daquilo que está 
sendo estudado.
            </p>
            {% endblock %}
            