
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            objetal, relação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Em psicanálise, entende-se como a relação que se estabelece entre um indivíduo e outro, considerado como 
objeto exterior; o protótipo desta relação é a que se estabelece entre o recém-nascido e a mãe, considerada esta 
como objeto exterior e aquele como su
            </p>
            {% endblock %}
            