
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            obstrução
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Bloqueio; acúmulo de substâncias, especialmente no interior de um canal ou vaso, tornando-o inapto ao 
exercício de sua função.
            </p>
            {% endblock %}
            