
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ocularidade
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Designa o fato de uma predominância ocular, no caso do emprego de um só olho, como no trabalho ao 
microscópio: ocularidade direita ou esquerda.
            </p>
            {% endblock %}
            