
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ofíase
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Alopecia em que os cabelos e outros pêlos do corpo caem por partes, deixando sinal que lembra o sulco calcado 


no solo pela passagem de uma serpente.
            </p>
            {% endblock %}
            