
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            onomatonomia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Repetição mental obsedante, impulsiva e irresistível de uma palavra ou nome, acompanhando-se de ansiedade; 
por vezes, é o temor mórbido de apenas pronunciar certos nomes ou palavras.
            </p>
            {% endblock %}
            