
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            opala
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Mineral tipicamente coloidal, produto de dessecação do hidrogel de sílica, que apresenta coloração leitosa e 


azulada, emitindo, quando exposto à luz, cores vivas e reflexos matizados.
            </p>
            {% endblock %}
            