
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            opsi, opso, opto
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Do gr. ópsis, visão ou optós, visível (biópsia, opsoclonia, óptico, miopia); - do gr. ópsios, tardio (opsiúria, 
opsomenorréia); - do gr. ópson, iguaria, condimento (opsonomania).
            </p>
            {% endblock %}
            