
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Organização Mundial da Saúde
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Instituição especializada da ONU (Organização das Nações Unidas), criada em 7 de abril de 1948; tem como 
objetivo criar condições de bem-estar físico, mental e social para os seres humanos. Com sede em Genebra, 
visa conseguir que todas as nações dêem a se
            </p>
            {% endblock %}
            