
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ornitose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Virose, semelhante à psitacose, porém de outras aves e pássaros que não os psitacídeos, inclusive aves 
domésticas, extensiva ao homem e muito próxima da psitacose.
            </p>
            {% endblock %}
            