
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            osmose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Caso especial de difusão em que o solvente, através de uma membrana semipermeável, se difunde em direção 
à região em que há menor concentração de suas moléculas.
            </p>
            {% endblock %}
            