
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            osteoporose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            A mais comum das doenças ósseas metabólicas, é a denominação utilizada para as doenças de etiologias 
diversas que causam redução da massa óssea por unidade de volume, isto é, em que há desequilíbrio entre a 
atividade osteoblástica e a atividade osteoclást
            </p>
            {% endblock %}
            