
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            OTC
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sigla do termo em inglês over the counter, ou seja, &#34;sobre o balcão&#34;, que identifica produto farmacêutico de 
venda livre, sem necessidade de prescrição médica e sem obrigatoriedade de ser vendido, exclusivamente, 
numa farmácia.
            </p>
            {% endblock %}
            