
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            padronização
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ajuste que é realizado com a finalidade de se proceder a comparação de duas taxas, de modo a igualar o peso 
dado a um outro fator que possa influenciar o resultado final.
            </p>
            {% endblock %}
            