
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            padrão-ouro
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É um teste padrão que serve de comparação por parte de outros testes, com a finalidade de avaliar a exatidão 
dos mesmos, em resultados que nos assegurem o máximo de acertos de forma a estabelecer o diagnóstico real.
            </p>
            {% endblock %}
            