
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            palingnosia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Alteração psíquica em que o indivíduo julga já ter visto ou conhecido aquele ou aquilo que vê pela primeira vez; 
&#34;déjà vu&#34;.
            </p>
            {% endblock %}
            