
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            papaína
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Produto obtido do látex do mamão verde (Carica papaya) o qual catalisa a hidrólise de proteínas, proteoses, 
peptonas, transformando-as em polissacarídios e aminoácidos; usada também para amolecer carnes, clarear 
bebidas, limpar úlceras e ferimentos.
            </p>
            {% endblock %}
            