
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Paracelso
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Famoso médico suíço-alemão (1493-1541) cujo nome Theophrastus Bombastus Von Homenheim foi latinizado 
para Philippus Aureolus Theophrastus. Com as suas teorias, abriu caminho para a doutrina dos medicamentos 
específicos e dos quimioterápicos. As suas pesqu
            </p>
            {% endblock %}
            