
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            parafina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Cera hidrocarbônica, obtida do petróleo, carvão, madeira, etc., usada como impermeabilizante em papéis, 
superfícies, e na impregnação de peças para exame histológico.
            </p>
            {% endblock %}
            