
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            parafrenia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Entidade clínica, descrita por Kraepelin em 1912, foi destacada das formas paranóides da esquizofrenia por não 
sofrerem os doentes desse grupo o típico embrutecimento característico dos esquizofrênicos e se conservarem, 
durante todo o curso da enfermidade
            </p>
            {% endblock %}
            