
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pareado
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            São controles idênticos aos casos em uma ou algumas variáveis especificas, tais como sexo, cor, status 
sócio-econômico e outras que a natureza da pesquisa venha a determinar como convenientes. Portanto, são 
grupos bastante semelhantes.
            </p>
            {% endblock %}
            