
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            paroxismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Crise ou exacerbação periódica dos sinais e sintomas durante a evolução de uma doença; estádio de uma 
doença em que os sintomas se manifestam com mais intensidade.
            </p>
            {% endblock %}
            