
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            parâmetro
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Valor estatístico aplicável a uma população, distinto de uma estatística de amostragem que se refere apenas a 
um valor derivado de uma amostragem da população.
            </p>
            {% endblock %}
            