
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pasteurização
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Método de esterilização parcial pelo aquecimento a 60º durante 30 minutos, utilizado na conservação de 
produtos alimentares e fermentescíveis.
            </p>
            {% endblock %}
            