
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pelagra
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença carencial de niacina (ácido nicotínico) que se manifesta por perturbações digestivas (diarréia, falta de 
apetite, constipação), perturbações cutâneas (rubor nas partes do corpo geralmente expostas ao sol, 
descamação), pele áspera, de cor acastanhad
            </p>
            {% endblock %}
            