
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            peritôneo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Membrana serosa que forra as paredes abdominais (peritôneo parietal) e recobre as vísceras, mantendo as 
vísceras em sua posição por meio de dobras, chamadas mesentérios.
            </p>
            {% endblock %}
            