
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            persuasão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Processo psicoterápico que consiste em influenciar o paciente com palavras e com fatos, com a finalidade de 
convencê-lo de alguma coisa.
            </p>
            {% endblock %}
            