
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            personalidade
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Caracterização da individualidade, resultante da integração dos fatores psicológicos (afetividade, inteligência, 
pulsões, vontade) e biológicos (morfofisiológicos).
            </p>
            {% endblock %}
            