
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pessário
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Aparelho de borracha, de formas diversas e flexibilidade variável, usado para a contenção de órgãos pélvicos, 
como, por exemplo, o útero, e outrora como método anticoncepcional.
            </p>
            {% endblock %}
            