
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            peçonha
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substância segregada por animais chamados peçonhentos através de glândulas especiais, que têm canais 
excretores ligados a dentes (cobras) e a estiletes (ferrão ou aguilhões) de insetos e outros artrópodes; em certos 
casos, como nos batráquios, as glândula
            </p>
            {% endblock %}
            