
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pH
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Indica o grau de acidez ou de alcalinidade de uma solução. Diz-se que uma solução é ácida quando seu pH é 
menor que 7; é alcalina quando o pH for maior que 7 e até 14. Quando o pH = 7, a solução é neutra (não é nem 
ácida, nem alcalina).
            </p>
            {% endblock %}
            