
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pico
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Anteposto ao nome de uma unidade, forma o nome de uma unidade derivada que vale um trilionésimo (10-12) 
da primeira; dose de entorpecente injetável, utilizado por dependentes químicos, aplicado rapidamente, &#34;em 
bloco&#34; (pop.).
            </p>
            {% endblock %}
            