
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            piso de atenção básica (PAB)
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Segundo o Ministério da Saúde, ato de definir o medicamento a ser consumido pelo paciente, com a respectiva 
dosagem e duração do tratamento. Em geral, esse ato é expresso mediante a elaboração de uma receita 
médica.
            </p>
            {% endblock %}
            