
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pituíta matinal
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diz-se da primeira ingestão de bebida alcoólica, logo ao acordar, que determinados pacientes alcoólatras 
crônicos necessitam compulsivamente para não apresentar tremor das mãos e &#34;enfrentar&#34; o dia.
            </p>
            {% endblock %}
            