
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            placebo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Medicamento inerte, ministrado com fins sugestivos ou morais, ou ainda, em trabalhos de pesquisa, quando é 
dado a um grupo de pacientes que ignora estar tomando o medicamento cuja ação se quer investigar.
            </p>
            {% endblock %}
            