
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            platônico
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Relativo à filosofia de Platão, o grande filósofo ateniense (428 ou 427 a.C. - 348 ou 347 a.C.); alheio a interesses 
ou gozos materiais; ideal; casto.
            </p>
            {% endblock %}
            