
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pluricarencial, síndrome
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Alterações patológicas mais freqüentes na infância, originadas pela falta de alimentação adequada, com 
emaciação, edema generalizado ou das extremidades, apagamento do brilho dos cabelos, hipoproteinemia, 
anemia moderada; corresponde à chamada síndrome de
            </p>
            {% endblock %}
            