
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            plêiade
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Grupo de sete estrelas visíveis, a olho nu, que fazem parte da constelação de Taurus; reunião de homens 
célebres; reunião de sete pessoas ilustres.
            </p>
            {% endblock %}
            