
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pneumotórax artificial
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Operação pela qual se introduz ar na cavidade pleural, para provocar o colapso do pulmão, que ficando em 
repouso, facilita a cura. Era usado, antigamente, em casos de tuberculose pulmonar ou de bronquiectasia.
            </p>
            {% endblock %}
            