
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pneuma
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Na Antiguidade, essência espiritual invisível e inatingível, de conceituação difícil. Admitia-se que se formasse 
com base no ar ou com auxílio deste. Os seus adeptos, os pneumatistas, consideravam-no como espírito vital, 
atribuindo-lhe a natureza de calor
            </p>
            {% endblock %}
            