
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            podagra
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ataque de gota nos pés, particularmente no grande dedo; na Grécia era a podagra, uma espécie de laço com o 
qual se prendiam os animais pelas patas, evitando que andassem. A Medicina apropriou-se do termo vulgar, 
como fez a tantos outros... A gota, doença
            </p>
            {% endblock %}
            