
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            polegada
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Medida inglesa de comprimento, equivalente a 25,4mm do sistema métrico decimal; medida aproximadamente 
igual a do comprimento da segunda falange do polegar.
            </p>
            {% endblock %}
            