
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            polispermia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Secreção excessiva de sêmen; penetração de mais de um espermatozóide no óvulo, dando multiplicação de 
embriões; superfecundação de um só óvulo.
            </p>
            {% endblock %}
            