
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            polissacarídio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Grupo de carboidratos que contêm mais de quatro moléculas de carboidratos simples, combinados uns com os 
outros, como a dextrina, amido e glicogênio, celulose e a pectina.
            </p>
            {% endblock %}
            