
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            população real
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Quando existem erros sistemáticos na população em estudo, fala-se em uma terceira população, a população 
real neste caso, que corresponde a população em estudo.
            </p>
            {% endblock %}
            