
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            população
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É o conjunto de elementos sobre o qual desejamos pesquisar. Os elementos que a constituem apresentam 
normalmente pelo menos uma característica em comum. Quanto ao número de elementos poderá ser finito ou 
infinito.
            </p>
            {% endblock %}
            