
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            população-alvo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É a população maior de onde provém a amostra e para que são feitas interferências. Freqüentemente, artigos 
não especificam a população-alvo do trabalho. Geralmente é uma população geograficamente delimitada que 
teria as mesmas características como a amost
            </p>
            {% endblock %}
            