
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            porfirina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Cada um dos grupos vermelho-escuros ou púrpura-escuros de derivados do pirrol, isentos de ferro e magnésio, 
que existem universalmente no protoplasma e compõem os pigmentos respiratórios de animais e plantas.
            </p>
            {% endblock %}
            