
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            potencial de membrana
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Potencial elétrico através da membrana em todas as células; os neurônios e as fibras musculares são excitáveis, 
isto é, capazes de transmitir impulsos eletroquímicos ao longo de suas membranas.
            </p>
            {% endblock %}
            