
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            praxiterapia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Técnica psiquiátrica de tratamento usada, geralmente, com pacientes crônicos hospitalizados, e que consiste na 
utilização terapêutica do trabalho, distribuindo-se tarefas de complexidade crescente; terapia ocupacional.
            </p>
            {% endblock %}
            