
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            prescrição
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ato de dispor em papel as drogas e seu modo de usar, a dieta e outros cuidados a serem dados ao paciente; 
receita médica; formulário.
            </p>
            {% endblock %}
            