
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            profilaxia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Conjunto de medidas para evitar uma doença; prevenção; no vocabulário médico a palavra parece datar do 
século XVIII, havendo porém quem a assinale em manuscritos do século XV ou XVI. Mas a palavra profilax já 
existia de longa data na língua dos gregos, e
            </p>
            {% endblock %}
            