
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            progéria
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Combinação de sinais de infantilismo com velhice precoce, tipo infantil do esqueleto, ausência de pêlos, face 
senil com nariz aquilino, deficiência de caracteres sexuais, engrossamento dos ossos longos, inteligência média 
e tendência à arteriosclerose.
            </p>
            {% endblock %}
            