
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            prolixidade
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Alteração na concatenação dos juízos que consiste em falsa minuciosidade sobre determinado assunto, 
ocasionando uma imensa dificuldade em, objetivamente, chegar a um julgamento, mecanismo esse comum a 
epilépticos (personalidade gliscróide) e deficientes m
            </p>
            {% endblock %}
            