
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            proteína
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Composto nitrogenado, largamente distribuído nos organismos vivos, formando os constituintes dos tecidos e 
líquidos orgânicos; formada por agrupamentos aminoácidos, coagula-se pelo calor, por ácidos e metais; 
decompõe-se em presença de enzimas chamadas pr
            </p>
            {% endblock %}
            