
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            proximal
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Que fica mais próximo do centro da cabeça; que fica para o lado da cabeça; diz-se do ponto em que uma 
estrutura ou um órgão fica próximo a seu centro ou a sua origem.
            </p>
            {% endblock %}
            