
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            próton
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            A menor unidade de carga elétrica positiva (+), encontrada no núcleo do átomo. Em cada átomo existe tantos 
prótons no núcleo quantos são os elétrons que giram em torno deste; portanto, sendo positivos, os prótons 
contrabalançam o mesmo número de elétrons,
            </p>
            {% endblock %}
            