
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pseudópodo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Extrusão do protoplasma de certos protozoários que, avolumando-se, acaba arrastando o corpo, fazendo seu 
deslocamento ou servindo a envolver partículas de que se alimentam.
            </p>
            {% endblock %}
            