
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            psicastenia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Afecção psíquica caracterizada por depressão, ansiedade, tendência a manias e obsessões, e perda do sentido 
da realidade, cada vez menos usado como diagnóstico psiquiátrico.
            </p>
            {% endblock %}
            