
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            psicocirurgia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Técnicas cirúrgicas usadas no tratamento das doenças mentais, como leucotomia ou lobotomia desenvolvida por 
Egas Muniz e Almeida Lima, em Lisboa, na primeira metade do século XX.
            </p>
            {% endblock %}
            