
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            psicose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Nome genérico para certos transtornos mentais que comprometem gravemente a personalidade; o seu 
relacionamento com o mundo perturba-se ou se torna impossível, no qual o paciente (psicótico) não reconhece 
como mórbido o seu estado mental, ou os seus sintom
            </p>
            {% endblock %}
            