
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            psicodrama
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Técnica psicoterápica desenvolvida por Jacob Levy Moreno, psicossociólogo norte-americano, de origem 
romena (1892), em que os pacientes improvisam no palco cenas das suas vidas, libertando-se por catarse das 
emoções reprimidas e ganhando &#34;insight&#34; sobre o
            </p>
            {% endblock %}
            