
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            psique
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            A alma, o espírito, a mente; psiquismo; segundo a mitologia, era uma belíssima jovem que amava Cupido 
(amor). Este ordenara-lhe que não o olhasse. Psique desobedeceu-o e Cupido sumiu, abandonando-a à 
desolação. Após muitas provas de dedicação, Psique obte
            </p>
            {% endblock %}
            