
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            psitacismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Articulação de palavras e frases sem sentido; aquisição de conhecimento pela fixação na memória e sem 
intervenção da inteligência; linguagem de papagaio.
            </p>
            {% endblock %}
            