
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            puberdade
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Fase da adolescência, compreendida entre os 12 e 16 anos, em que se processa a evolução do infante à 
juventude. É marcada pelo aparecimento das características sexuais secundárias, especialmente pela presença 
dos pêlos pubianos (de onde advém a palavra pu
            </p>
            {% endblock %}
            