
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            puericultura
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ramo da pediatria que visa assegurar o bom desenvolvimento físico, mental e moral das crianças desde a sua 
concepção, através da aplicação sistemática dos princípios da medicina preventiva, da higiene e da boa 
educação.
            </p>
            {% endblock %}
            