
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pulmão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Designação comum a dois órgãos (direito e esquerdo), divididos em lobos, nos quais se efetua a hematose e os 
principais fenômenos respiratórios, ocupando, cada um, uma cavidade lateral do tórax, estando separados um 
do outro pelo coração e outras formaçõe
            </p>
            {% endblock %}
            