
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            puna
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Perturbação sentida nas grandes altitudes, principalmente quando se faz esforço físico, caracterizado por falta 
de ar, indisposição e, às vezes, hemoptises; doença das montanhas.
            </p>
            {% endblock %}
            