
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pupila
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Abertura no centro da íris do olho que permite a transmissão de luz; seu diâmetro aumenta ou diminui de acordo 
com a intensidade luminosa; também chamada de &#34;menina dos olhos&#34;.
            </p>
            {% endblock %}
            