
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            putrefação intestinal
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Resultado da decomposição de proteínas alimentares no intestino grosso pela flora intestinal chamada 
putrefativa (bactérias do grupo coli e Proteus), com produção de compostos sulfoconjugados ou putrefativos.
            </p>
            {% endblock %}
            