
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            putrefação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Decomposição de proteínas ou cadáveres animais por microrganismos, resultando na produção de substâncias 
elementares e gases fétidos: mercaptan, amônia, ácidos graxos, aminas, gás carbônico, metano, além da água.
            </p>
            {% endblock %}
            