
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pícnico
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Espesso; grosso; volumoso; que apresenta formas arredondadas, estatura baixa e reforçada; uma das 
classificações biotipológicas de Kretschmer, em 1919, das constituições e dos temperamentos humanos, 
juntamente com o astênico ou leptossomático, o atlético
            </p>
            {% endblock %}
            