
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            pórfiro
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Instrumento de farmácia composto de tábua (ou pedra dura, lisa) onde se coloca a substância a pulverizar, 


deslizando-se sobre ela o moente.
            </p>
            {% endblock %}
            