
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            quadril
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Cada uma de duas regiões, uma de cada lado da pelve, em que se situa cada articulação do fêmur com o ilíaco; 
anca; cadeira.
            </p>
            {% endblock %}
            