
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            quadrante
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Um quarto de círculo; qualquer das quatro partes, ou quartos, tais como a superfície abdominal; superfície em 
que estão marcadas as divisões de instrumentos de física.
            </p>
            {% endblock %}
            