
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            quartilho
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Antiga unidade de medida de capacidade para litros, equivalente à quarta parte de uma canada, isto é, 0,6655 
litro; unidade de capacidade do sistema inglês equivalente a 0,568 litro.
            </p>
            {% endblock %}
            