
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            quarta
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Quarta parte de alguma coisa; medida de volume antiga em forma de caixa, aproveitada para assento e para 
colocar a parturiente sobre ela a fim de facilitar o parto em certas regiões do Brasil; o uso foi abandonado mas a 
denominação ficou; dar à luz - esta
            </p>
            {% endblock %}
            