
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            quelóide
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tumoração cutânea, compacta e dura, intradérmica, linear ou globosa, cuja superfície lisa, às vezes, emite 
expansões em forma de pinças.
            </p>
            {% endblock %}
            