
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            quelato
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Composto ou ligação química em que a molécula se prende em dois ou mais pontos a um átomo central, 
apresentando fórmula estrutural não-ionizada e facilitando, com isto, a penetração ou difusão de substâncias a 
ele associadas.
            </p>
            {% endblock %}
            