
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            quilotórax
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É o acúmulo de linfa na cavidade pleural, constituindo a maioria dos derrames congênitos primários. É uma 
condição pouco freqüente, atingindo um em cada 10 a 15 mil nascimentos, acontecendo predominantemente no 
sexo masculino (2M:1F) e ocorrendo, principa
            </p>
            {% endblock %}
            