
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            quimiotaxia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Afinidade ou repulsa de células ou organismos vivos, no sentido positivo ou negativo, para substâncias químicas. 


A quimiotaxia positiva regula a leucocitose, a quimioterapia, sobretudo a quimioterapia específica, e outros 
fenômenos biológicos.
            </p>
            {% endblock %}
            