
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            quintessência
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Extrato concentrado de qualquer substância; refinamento intelectual de qualquer conhecimento; o que há de 
principal, de melhor e de mais puro; quinta-essência.
            </p>
            {% endblock %}
            