
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            química
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ciência em que se estuda a estrutura das substâncias, correlacionando-a com as propriedades macroscópicas, 
e se investigam as transformações dessas substâncias.
            </p>
            {% endblock %}
            