
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            racionalização
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É a explicação falsa, ou a justificação de um ato que, por razões outras, esconde a sua real motivação 
inconsciente ou reprimida. Assim é que, na fábula, a raposa, incapaz de alcançar as uvas, declara que elas 


estão verdes.
            </p>
            {% endblock %}
            