
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            radiação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ato ou efeito de radiar; qualquer dos processos físicos de emissão e propagação de energia, seja por intermédio 
de fenômenos ondulatórios, seja por meio de partículas dotadas de energia cinética; energia que se propaga de 
um ponto a outro no espaço ou num
            </p>
            {% endblock %}
            