
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            radical
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Relativo à raiz; elemento eletronegativo que entra na composição da molécula como seu constituinte 
fundamental; grupo atômico que entra em combinações químicas.
            </p>
            {% endblock %}
            