
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            radioatividade
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Propriedade que certos corpos possuem de emitir raios; decomposição espontânea de um átomo, com emissão 
de raios alfa, beta e gama; emissão, pelos núcleos de átomos, de raios ou partículas atômicas ligeiras. Trata-se 
do processo de desintegração que se ve
            </p>
            {% endblock %}
            