
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            randomizar
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Escolher ao acaso, de modo fortuito, sem nenhuma metodologia, ou através de tabelas de números 
equiparáveis. Advém do inglês &#34;random&#34;, que significa feito ao acaso, fortuito.
            </p>
            {% endblock %}
            