
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            raquicentese
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Punção do canal raquiano para evacuação de liquor; pode ser realizada na região lombar ou na região 
suboccipital (punção alta). A punção destina-se à introdução de substâncias de contraste, para mielografia, ou 
de medicamentos, retirada de líquido para co
            </p>
            {% endblock %}
            