
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            raça
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Conjunto de indivíduos cujos caracteres somáticos, tais como a cor da pele, a conformação do crânio e do rosto, 
o tipo do cabelo, etc., são semelhantes e se transmitem por hereditariedade, embora variem de indivíduo para 
indivíduo.
            </p>
            {% endblock %}
            