
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            recalque
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Mecanismo psicológico de repressão de idéias, sentimentos e pulsões, emanadas do id, de forma tal que não 


tem acesso à consciência senão disfarçados ou simbolizados.
            </p>
            {% endblock %}
            