
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            recidiva
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Novo episódio de doença após a sua convalescência; reaparecimento tardio de moléstia, após terminada a 
convalescência e estar o paciente em estado normal de saúde.
            </p>
            {% endblock %}
            