
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            redução
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ato de reduzir; correção de fratura, luxação ou hérnia; reação química que consiste na subtração de oxigênio ou 
adição de hidrogênio a uma substância; perda de cargas positivas ou ganho de cargas negativas.
            </p>
            {% endblock %}
            