
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            reeducação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ato de reeducar; orientação mental ou física para readquirir a antiga capacidade, ou corrigir defeitos ou falhas; 
restabelecimento de uma atividade ou função, à custa de treinamento apropriado.
            </p>
            {% endblock %}
            