
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            reflexão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ato ou efeito de refletir(-se); volta de raio de luz, som ou calor, quando encontra superfície em que não penetra; 
meditação; ponderação.
            </p>
            {% endblock %}
            