
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            reflexologia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Denominação dada por Bechterew à escola russa de psicologia objetiva, cujos principais representantes são 
Sechenov (1829-1905), Pavlov (1849-1936) e o próprio Bechterew (1857-1927), em que se reduz todos os 
fenômenos psíquicos a reflexos condicionados.
            </p>
            {% endblock %}
            