
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            reflexo condicionado
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Reflexo provocado com estímulos educativos, ou capazes de provocar reações fisiológicas que se repetem com 
sua renovação. Este termo foi usado pela primeira vez pelo médico e fisiologista Ivan Petrovitch Pavlov 
(1849-1936), em 1903, opondo-o ao reflexo in
            </p>
            {% endblock %}
            