
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            regressão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Volta ao estado anterior; diminuição de sintomas de uma moléstia; inferiorização; para Sigmund Freud, indica o 
retorno da libido às etapas já ultrapassadas de seu desenvolvimento, mais primitivas e simples, determinado 
pela frustração das mais recentes e
            </p>
            {% endblock %}
            