
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Rem
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sigla de &#34;roentgen equivalent in man&#34;, isto é, a dose máxima de radiação actínica tolerável sem dano pelo 
homen; sigla de &#34;rapid eyes moviments&#34;, uma das fases do sono que se caracteriza, entre outros aspectos, pela 
movimentação dos olhos.
            </p>
            {% endblock %}
            