
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            remédio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Agente que é utilizado no tratamento de doenças; agente que previne o aparecimento de uma doença; agente 
que cura ou alivia os sinais e sintomas de uma doença; medicamento.
            </p>
            {% endblock %}
            