
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            reserva alcalina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Teor de dióxido de carbono plasmático combinado, e que constitui a expressão das disponibilidades do meio 
extracelular em alcalinos, para enfrentar uma sobrecarga ácida.
            </p>
            {% endblock %}
            