
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            resistente
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Que resiste; que suporta ação destruidora ou influência letal; diz-se dos germes que suportam ou se adaptam a 
doses ordinariamente germicidas.
            </p>
            {% endblock %}
            