
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ressonância magnética
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Técnica não invasiva, em que não é usada nenhuma radiação ionizante nem meio de contraste para 
imageamento; as imagens da ressonância magnética são baseadas nos sinais de radiofreqüência emitidos pelos 
núcleos de hidrogênio dos tecidos após terem sido per
            </p>
            {% endblock %}
            