
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            reticuloendotelial, sistema
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Conjunto de celulas dispersas nos órgãos, mais abundantes na medula óssea vermelha, nos órgãos linfóides, 
fígado, pulmões, dotadas de capacidade fagocitária e estreitamente correlacionadas ao papel de defesa 
orgânica às infecções; SRE.
            </p>
            {% endblock %}
            