
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            retrocessão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Deslocamento para trás; movimento retrógrado; metástase de doença da superfície para determinado órgão 
interno; desaparecimento de sintoma ou doença que são substituídos por outro sintoma ou doença, no mesmo 
órgão ou em órgão diferente.
            </p>
            {% endblock %}
            