
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Reverdin, agulha de
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Agulha com cânula por onde corre uma lâmina obturadora de um orifício que se abre ou fecha com o movimento 
da lâmina, de modo a facilitar a inserção do fio de sutura e sua fixação. O termo advém de Albert Reverdin, 
cirurgião suíço (1881-1929).
            </p>
            {% endblock %}
            