
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            reversão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Aparecimento de caráter ancestral no indivíduo; caráter que aparece depois de muitas gerações; reagrupamento 
de fatores complementares que se separaram anteriormente no curso da evolução; restituição ao primeiro 
estádio; volta ao estádio anterior.
            </p>
            {% endblock %}
            