
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Rh, fator
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Fator encontrado no sangue por Landsteiner e Wiener, em 1940, presente em 85% dos homens de raça branca, 
e também no macaco rhesus, donde se deriva o seu nome (de Rhesus). Quando este fator está presente diz-se 
que o homem é Rh-positivo, quando falta, Rh-
            </p>
            {% endblock %}
            