
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            rigidez matinal
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Endurecimento articular que ocorre pela manhã, ao acordar, em portadores de artrite reumatóide, 
impossibilitando, inclusive, em determinados casos de os pacientes saírem da cama, só conseguindo vários 
minutos após.
            </p>
            {% endblock %}
            