
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Ringer, solução de
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Solução usada na reidratação, proposta por Sydney Ringer, fisiologista inglês (1835-1910), em que para cada 
100 ml existem 820-900 mg de cloreto de sódio, 25-35 mg de cloreto de potássio e 30-35 mg de cloreto de 
cálcio.
            </p>
            {% endblock %}
            