
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            rinite
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Inflamação da mucosa nasal, caracterizada por espirros freqüentes, congestão e corrimento nasal, prurido e 
ardor no nariz e garganta, lacrimejamento e irritação ocular. Pode ser alérgica (febre do feno, polinose perene) 
ou vasomotora (poluição, distúrbios
            </p>
            {% endblock %}
            