
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            risco atribuível
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Acréscimo de risco para o desenvolvimento de uma doença relacionada à exposição acima do risco das pessoas 
não-expostas, sendo igual à diferença entre a incidência da doença em expostos e a da doença em 
não-expostos.
            </p>
            {% endblock %}
            