
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            riso imotivado
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Riso repentino, sem razão, exibido por esquizofrênicos crônicos, notadamente os portadores de esquizofrenia 
paranóide.
            </p>
            {% endblock %}
            