
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            rituais de passagem
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            São rituais ou cerimônias que, na família e na sociedade, marcam o movimento de indivíduos ou grupos de um 
status social para outro, como no nascimento, puberdade, casamento e morte.
            </p>
            {% endblock %}
            