
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            roentgen
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Unidade de medida de exposição a uma radiação eletromagnética, igual a quantidades de raios X ou raios gama, 
em que a emissão corpuscular que lhe é associada libera, em 0,001293g de ar seco, uma unidade eletrostática 
de carga elétrica positiva. O termo ad
            </p>
            {% endblock %}
            