
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            rosácea
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença crônica da pele do nariz, da testa e bochechas, caracterizada por coloração vermelha, por dilatação dos 
capilares, com pápulas e pústulas acneiformes; acne rosácea; eritema angiectásico.
            </p>
            {% endblock %}
            