
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            rubéola
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença infecciosa aguda, virótica, eruptiva, de curta duração e benigna, inicia abruptamente com dor de 
garganta e estado subfebril; depois, surgem lesões papulosas e avermelhadas que desaparecem em três dias.
            </p>
            {% endblock %}
            