
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Sabin, vacina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Vacina oral contra a poliomielite, constituída de três tipos de vírus vivos atenuados após cultura em tecidos de 
rim de macaco. O termo advém de Albert Bruce Sabin, virologista de origem russa, naturalizado 
norte-americano, nascido em 1906, e que desenvol
            </p>
            {% endblock %}
            