
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sacarose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Carboidrato dissacarídio que se cristaliza em prismas, solúvel em água. É obtido da cana-de-açúcar e da 
beterraba. Chamado de açúcar comum ou sucrose.
            </p>
            {% endblock %}
            