
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sacralização
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Desenvolvimento exagerado da apófise transversa da quinta vértebra lombar, que se confunde ou funde com o 
sacro; fusão da quinta vértebra lombar com a primeira sacra.
            </p>
            {% endblock %}
            