
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sadismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Perversão sexual em que a satisfação erótica advém de atos de violência ou de crueldade física ou moral 
infligidos ao parceiro sexual; algolagnia ativa; prazer com o sofrimento alheio; o termo advém de Donatien 
Alphonse François - Marquês de Sade - escrit
            </p>
            {% endblock %}
            