
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            safismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Homossexualismo feminino; lesbianismo; o termo advém de Sappho, poetisa grega (625-580 a.C.), nascida em 
Lesbos, que cantou em nove livros de poemas o amor às mulheres, e, segundo os críticos, com rara e 
extraordinária sensibilidade lírica.
            </p>
            {% endblock %}
            