
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Salk, vacina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Vacina parenteral que contém três tipos de vírus da poliomielite, inativados pelo formol, mas dotados de 
capacidade de produzir imunidade contra a doença natural. O termo advém de Jonas Edward Salk, 
bacteriologista norte-americano, nascido em Nova Iorque
            </p>
            {% endblock %}
            