
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            salpingite
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Inflamação da tuba ou trompa uterina (trompa de Falópio), ou da tuba ou trompa auditiva (trompa de Eustáquio).
            </p>
            {% endblock %}
            