
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            salpinge
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Trompa uterina; trompa de Falópio; trompa de Eustáquio; entre os antigos gregos, trombeta cônica utilizada em 
cerimônias litúrgicas e nos exércitos.
            </p>
            {% endblock %}
            