
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sangramento, tempo de
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tempo entre a abertura de capilares cutâneos e a hemostasia espontânea; serve para avaliar o estado da crase 
e da hemostasia sangüíneas.
            </p>
            {% endblock %}
            