
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sanguessuga
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Verme anelídeo, da classe dos hirudíneos, que habita as águas doces e tem ventosas com que se ligam aos 
animais a fim de sugar-lhes o sangue. A sanguessuga serviu, no passado, para provocar extravasamentos 
sangüíneos locais em casos de congestões viscerai
            </p>
            {% endblock %}
            