
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            saprófito
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Animais ou plantas que vivem sobre outros seres vivos sem os prejudicar; a denominação foi dada por analogia 
aos seres vivos das partes mortas ou dos &#34;cadáveres&#34; de plantas (paus podres).
            </p>
            {% endblock %}
            