
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sarampo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença infecciosa causada por vírus de elevado poder de contágio, e que apresenta exantema e pode 
complicar-se, entre outras condições mórbidas, como bronquite e broncopneumonia, devido à infecção 
bacteriana secundária.
            </p>
            {% endblock %}
            