
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sarcoidose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Afecção de causa desconhecida e instalação lenta, que acomete o sistema linfático, pulmões, fígado e pele, 
sendo encontrada no adulto na faixa dos 20 aos 50 anos de idade; assemelha-se histologicamente à 
tuberculose, e sua sintomatologia não é característ
            </p>
            {% endblock %}
            