
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sectarismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Posicionamento filosófico em que uma teoria - qual um dogma - é admitida sem contestação, configurando 
intolerância e intransigência de sua linha de pensamento.
            </p>
            {% endblock %}
            