
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            seleção natural
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Fator de evolução da fauna e da flora cuja importância foi valorizada por Wallace e Darwin, e que consiste na 
destruição ou na não-reprodução da maioria dos indivíduos de cada espécie animal ou vegetal, de sorte que 
apenas os mais aptos têm descendência,
            </p>
            {% endblock %}
            