
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            septicopiemia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Presença simultânea de septicemia e piemia; forma de septicemia em que os germes patogênicos ficam 
localizados em determinado ponto e ali provocam o aparecimento de focos purulentos.
            </p>
            {% endblock %}
            