
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            seringa
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tubo de vidro ou metal, com extremidade afilada e êmbolo para premir líquidos a serem introduzidos; o termo 
advém de syrinx (flauta), alargando-se ainda no sentido de pipeta, canal subterrâneo, galeria. Interessante é a 
lenda a respeito da seringa. A ninf
            </p>
            {% endblock %}
            