
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            seringa de Pravaz
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Pequena seringa hipodérmica provida de uma agulha oca que permitiu as primeiras aplicações medicamentosas 
parenterais. O termo advém de Charles Pravaz, ortopedista francês (1791-1853). Também recebe este nome 
uma agulha hipodérmica adaptada a uma cânula e
            </p>
            {% endblock %}
            