
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            serosa
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Membrana cuja forma lembra um saco e que segrega serosidade em sua face interna, facilitando o deslizamento 
de órgãos, contidos em seu interior, como no coração (pericárdio), pulmão (pleura), vísceras abdominais 
(peritônio) e testículo (vaginal).
            </p>
            {% endblock %}
            