
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            serotonina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            A 5-HT (5-hidroxitriptamina), identificada em 1948 por Page e colaboradores, na Cleveland Clinic, é uma 
substância que atua em diversas funções fisiológicas como neurotransmissor no snc, co-mo regulador da função 
da musculatura lisa nos sistemas cardiovas
            </p>
            {% endblock %}
            