
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sexualidade
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Conjunto dos fenômenos da vida sexual; para o pensamento psicanalítico, o conjunto de prazeres - libidinosos 
ou não - que rodeia a esfera emocional dos indivíduos.
            </p>
            {% endblock %}
            