
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sigmóide
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Que tem forma de S ou sigma; diz-se de certas válvulas e cavidades, e da porção do intestino grosso no corpo 
humano, que têm forma de sigma.
            </p>
            {% endblock %}
            