
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            significância estatística
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Refere-se à probabilidade de que uma diferença entre os grupos de tamanho encontrado tenha acon-tecido tão 
somente pelo acaso. Tanto menor esta probabilidade (p &lt; alfa), maior a significância estatística. O nível 
estatístico a partir do qual esta diferenç
            </p>
            {% endblock %}
            