
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            silicone
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substância empregada na confecção de alguns instrumentais de laboratório químico-farmacêutico e de patologia 
clínica, além de próteses em cirurgia plástica, estética e reparadora, notadamente a da mama.
            </p>
            {% endblock %}
            