
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            simbiose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Associação de duas plantas ou de uma planta e um animal na qual ambos os organismos recebem benefícios, 
ainda que em proporções diversas; é o caso dos liquens.
            </p>
            {% endblock %}
            