
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            simbolismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Maneira de expressar ou representar algo por sinais ou desenhos; em termos psicanalíticos, trata-se de 
mecanismo do pensamento inconsciente, geralmente de natureza sexual, pelo qual o significado real se 
transforma, de modo a não ser reconhecido como sexu
            </p>
            {% endblock %}
            