
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            simetria
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Correspondência, em grandeza, for-ma e posição relativa de partes situadas em lados opostos de uma linha ou 
plano médio, ou ainda que se acham distribuídas em volta de um centro ou eixo; disposição de partes opostas 
separando o corpo em duas metades iguai
            </p>
            {% endblock %}
            