
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            similia similibus curantur
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Expressão latina que designa a doutrina na qual se baseia a homeopatia: uma doença é curada por aqueles 
remédios que produzem efeitos semelhantes aos da própria doença; esta expressão latina foi cunhada em 
oposição a outra - &#34;contraria contrariis curantur
            </p>
            {% endblock %}
            