
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            simpatia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tendência instintiva para uma pessoa ou coisa; inclinação recíproca entre duas pessoas ou duas coisas; relação 
de caráter que constitui o princípio ou a base dessa atração; benzimento para &#34;curar&#34; enfermidades (pop.).
            </p>
            {% endblock %}
            