
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sincondrose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tipo de articulação em que a cartilagem interveniente, antes que o indivíduo chegue à fase adulta, em geral se 
transforma em osso.
            </p>
            {% endblock %}
            