
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sincretismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Reunião artificial de idéias ou de teses de origens disparatadas; fusão de elementos culturais diferentes, ou até 
antagônicos, em um só elemento, continuando perceptíveis alguns sinais originários; o termo advém da Grécia e 
representava a reunião de vário
            </p>
            {% endblock %}
            