
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sinestesia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Relação subjetiva que se estabelece espontaneamente entre uma percepção e outra que pertença ao domínio 
de um sentido diferente (por exemplo, um perfume que evoca uma cor, um som que evoca uma imagem).
            </p>
            {% endblock %}
            