
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sintotérmico, método
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Método anticoncepcional, comportamental, baseado, conjuntamente, nos três métodos comportamentais em uso 
(calendário, muco cervical e temperatura corporal basal), de modo que o uso combinado de todos os sinais dos 
três métodos aumente a precisão da detecç
            </p>
            {% endblock %}
            