
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sintobiótico
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Antibiótico que, por conveniências, não é produzido por via microbiológica, e sim por via sintética, cuja síntese 
pode ser total - como o cloranfenicol - ou parcial - como as penicilinas e cefalosporinas semi-sintéticas. De um 
modo geral o termo não é usa
            </p>
            {% endblock %}
            