
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sistema
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Conjunto de órgãos ou tecidos da mesma natureza e com funções análogas; reunião de estruturas orgânicas 
compostas de elementos semelhantes e com a mesma função.
            </p>
            {% endblock %}
            