
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sodomia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Prática sexual anormal entre indivíduos do mesmo sexo (homossexualidade) ou de sexos diferentes; o termo 
advém de Sodoma, cidade do baixo vale do Jordão que, segundo a Bíblia (Gênesis), foi destruída pela ira divina 
em virtude dos crimes cometidos por seu
            </p>
            {% endblock %}
            