
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            som
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Fenômeno acústico que consiste na propagação de ondas sonoras produzidas por um corpo que vibra em meio 
material elástico, especialmente o ar; efeito produzido no órgão da audição por vibrações do ar com outro meio.
            </p>
            {% endblock %}
            