
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sonda
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tubo, flexível ou rígido, que se introduz em canal, natural ou não, do organismo com o fim de reconhecer-lhe o 
estado ou de extrair ou introduzir algum tipo de matéria.
            </p>
            {% endblock %}
            