
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sonho
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Seqüência de imagens e de fenômenos psíquicos que ocorrem durante o sono; desde a mais remota 
Antiguidade, é considerado como aviso divino ou sobrenatural, destinado a prevenir o ser humano quanto a 
determinados acontecimentos, como ocorria na Grécia, Egi
            </p>
            {% endblock %}
            