
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sonoterapia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Método de tratamento empregado, há algumas décadas e atualmente em desuso, em certas condições 
psiquiátricas que consistia em produzir e manter sono artificial em um paciente, mediante o uso de drogas e 
sobre rígido controle, por período que se podia este
            </p>
            {% endblock %}
            