
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sono
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Estado de repouso normal e periódico, que no homem e nos animais superiores se caracteriza especialmente 
pela supressão da atividade perceptiva e motora voluntária, e que é variável em seu grau de profundidade, 
encontrando-se a vontade e a consciência em
            </p>
            {% endblock %}
            