
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sopro cavernoso
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ruído respiratório proveniente de uma escavação parenquimatosa pulmonar, comunicante com os brônquios, 
geralmente quando há lesão tuberculosa cavernosa.
            </p>
            {% endblock %}
            