
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sopro diastólico
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Sopro que ocorre junto com, ou imediatamente após, a segunda bulha do coração, podendo representar sinal de 
estenose mitral ou de insuficiência cardíaca.
            </p>
            {% endblock %}
            