
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            soro
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Porção fluida do sangue obtida após a sua coagulação; soro de animais em que se inocularam bactérias ou 
toxinas, e que é utilizado com fins profiláticos ou terapêuticos (soro antitetânico, soro antidiftérico); solução de 
substância mineral ou orgânica usa
            </p>
            {% endblock %}
            