
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            spa
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Centro de convivência, geralmente com hospedagem dos indivíduos, que visa uma reeducação alimentar 
balanceada e redução no peso corpóreo. O termo advém da Antiguidade, quando a aristocracia romana 
costumava freqüentar a cidade de Spa, província de Liège,
            </p>
            {% endblock %}
            