
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sprue
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Quadro sindrômico pertencente às manifestações da má-absorção, é também conhecida por doença celíaca, 
esteatorréia idiopática, enteropatia glúten-indu-zida, e outras. A origem do termo é desconhecida; contudo, 
admite-se como possível, a holandesa - sprow
            </p>
            {% endblock %}
            