
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sublimação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ato de sublimar; purificação; passagem do estado sólido para o gasoso; em termos psicanalíticos, é um 
mecanismo de defesa ou de adaptação que transforma as pulsões primitivas, e inaceitáveis como tais, em 
realizações sociais positivas, simbólicas das mani
            </p>
            {% endblock %}
            