
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            substância fundamental
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Massa de consistência de mel, do tecido conjuntivo, formado de um ácido polissacarídico e uma proteína, 
encontrada no humor vítreo, cor-dão umbilical, cartilagens e abundante na pele e outros tecidos e órgãos.
            </p>
            {% endblock %}
            