
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            superego
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Instância psíquica imaginada por Sigmund Freud, sob a forma de censura ou de censo crítico, o qual é formado 
pela introjeção das imagens paternas, das suas exigências e proibições, ou um seu substituto real ou simbólico.
            </p>
            {% endblock %}
            