
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            supositório
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Forma farmacêutica sólida, cônica ou cilíndrica, que se introduz pelo ânus, e que, ao derreter-se, libera 
medicamento(s) a ser(em) absorvido(s) pelo reto.
            </p>
            {% endblock %}
            