
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sêmen
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Semente; esperma; líquido fecundante ou prolífico, esbranquiçado, espesso, e-jaculado pelo animal macho e 
constituído de espermatozóides e secreções da próstata, das vesículas seminais e de várias pequenas 
glândulas anexas do aparelho reprodutor masculino
            </p>
            {% endblock %}
            