
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            sífilis
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença infecciosa e contagiosa transmitida essencialmente por contato sexual, transmissível à descendência e 
cuja causa é um espiroqueta - Treponema pallidum; graças à capacidade de penetrar nas células dos tecidos, o 
germe pode alterar todos os órgãos pr
            </p>
            {% endblock %}
            