
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            síncope
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Perda temporária de consciência devido à má perfusão sangüínea cerebral, alteração na composição do sangue 
que irriga o encéfalo, ou a alterações no padrão de atividade do SNC devido a estímulos que chegam a esse 
sistema; vasta sinonímia, tais como: lipot
            </p>
            {% endblock %}
            