
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            síntese
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Preparação de composto a partir das substâncias elementares que o constituem, ou de substâncias compostas 


mais simples; operação química por meio da qual as células vivas fabricam as várias substâncias de que 
necessita o organismo a que pertencem; reunião
            </p>
            {% endblock %}
            