
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tabaqueira anatômica
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Depressão do dorso da mão, formada pelos tendões dos extensores da mão, usada pelos usuários de rapé 
(tabaco em pó) para cheirar o pó, bem como pela cultura popular mexicana ao depositar nessa depressão um 
pouco de sal para lambê-lo antes de ingerir um go
            </p>
            {% endblock %}
            