
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tabu
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Palavra de origem polinésia que significa sagrado, intocável, proibido, em geral ou em determinadas 
circunstâncias, cujo antônimo é &#34;noa&#34;, coisa ou algo permitido a todo mundo; proibição religiosa ou social em 
relação ao uso de certos objetos ou realizaçã
            </p>
            {% endblock %}
            