
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tala
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Pedaço de madeira, papelão ou de outra substância, impregnado de goma e gesso, e empregado em aparelhos 
destinados ao tratamento de fraturas.
            </p>
            {% endblock %}
            