
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            talha hipocrática
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ainda hoje, por fidelidade histórica, os formandos da Faculdade de Medicina recitam um trecho do juramento de 
Hipócrates, dizendo que não praticarão a talha vesical, operação antigamente &#34;indigna&#34;, praticada pelos 
cirurgiões-barbeiros, e que consiste na a
            </p>
            {% endblock %}
            