
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tarantela
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Dança popular napolitana, de andamento muito vivo, em compasso de 3/8 ou 6/8, acompanhado pelos pandeiros 
e castanholas, e que primitivamente era cantada.
            </p>
            {% endblock %}
            