
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tarantismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Variedade de mania de dança; atingia outrora, no século XVII, na Itália, massas populares consideráveis, e 
supunha-se que era produzido por picada de tarântula, aranha da família dos licosídeos, comum na Apúlia 
(Itália) onde se originou o termo; atualment
            </p>
            {% endblock %}
            