
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tele, teli, telo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Do gr. têle, longe (teleradiografia, telangiectasia); - do gr. thelé, seio, mamilo (telite, epitélio); - do gr. thêlys, 
relativo à mulher (telítoco); - do gr. têlos, fim, termo, acabamento (telo-fase, telolécito).
            </p>
            {% endblock %}
            