
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            temperatura
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Quantidade de calor que existe no ambiente, resultante da ação dos raios solares; grau de frio ou calor existente 
nos animais, e variável para cada espécie, mesmo nos homeotérmicos: cavalo 37,6º, boi 38,3º, carneiro 39,1º, 
cabra 39,9º, porco 39,2º, cão 38
            </p>
            {% endblock %}
            