
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            temperatura corporal basal, método da
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Método anticoncepcional, comportamental, baseado na elevação da temperatura corporal da mulher - 0,2ºC a 
0,5ºC - no período imediatamente após a ovulação, período esse em que se deve abster de relações sexuais.
            </p>
            {% endblock %}
            