
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tendinoso, reflexo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Reflexo obtido pela percussão de um tendão, como o reflexo patelar que consiste na extensão da perna pela 
percussão do tendão rotuliano.
            </p>
            {% endblock %}
            