
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tensão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ato de distender ou estender; estado em que há sensações de retesamento (de músculos estriados, 
esqueléticos, etc.), ou em que se é levado além de um limite normal de emoção.
            </p>
            {% endblock %}
            