
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            termômetro de Fahrenheit
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Termômetro cuja escala corresponde a 32 graus no zero do termômetro centígrado ou de Celsius, e 212 a 
100ºC; o termo advém de David Daniel Fahrenheit, físico alemão (1686-1736).
            </p>
            {% endblock %}
            