
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            termômetro de máxima e mínima
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Termômetro que registra e fixa as temperaturas atingidas em determinado tempo por um fragmento metálico 
impulsionado pela coluna que se dilata ou retrai com as variações de temperatura.
            </p>
            {% endblock %}
            