
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            termômetro de Réaumur
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Termômetro em que o grau zero representa a fusão do gelo e 80 graus o ponto de ebulição da água pura; o 
termo advém de René Antoine Ferchault de Réaumur, físico e naturalista francês (1683-1757).
            </p>
            {% endblock %}
            