
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            termômetro centígrado
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Também conhecido como de Celsius, é dividido em 100 partes, sendo 0º, o ponto de congelação da água, e 


100º, o de sua ebulição; o termo advém de Anders Celsius, físico e astrônomo sueco (1701-1744) que, além de 
criar a escala termométrica centesimal, part
            </p>
            {% endblock %}
            