
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            terra
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Parte sólida da superfície terrestre; terceiro planeta do sistema solar, pela ordem de afastamento do sol, envolto 
numa massa gasosa, a atmosfera.
            </p>
            {% endblock %}
            