
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            teste
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Exame, verificação ou prova para determinar a qualidade, a natureza ou o com-portamento de alguma coisa, ou 
um sistema sob certas condições; em termos psicológicos, é a medida ou cálculo de determinadas 
características afetivas, intelectuais (nível mental
            </p>
            {% endblock %}
            