
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tetania
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Síndrome que se caracteriza por manifestações neuromusculares bruscas, como parestesias das extremidades, 
dispnéia, dores torácicas e abdominais, contraturas, em geral, dos membros superiores, embora os inferiores 
possam, também, ser comprometidos. Em cer
            </p>
            {% endblock %}
            