
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tetralogia de Fallot
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Cardiopatia congênita que abrange estenose da pulmonar, comunicação interventricular, dextroposição da aorta 
e hipertrofia do ventrículo direito. O termo advém de Etienne Jonis Arthur Fallot, médico francês (1850-1911).
            </p>
            {% endblock %}
            