
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tifóide, febre
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença infecciosa causada pela Salmonella typhi, que se prolonga por várias semanas, e inclui em seu quadro 
clínico cefaléia, febre contínua, apatia, esplenomegalia, erupção cutânea maculopapular, podendo 
eventualmente, ocorrer perfuração intestinal.
            </p>
            {% endblock %}
            