
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tinea
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tinha; designação comum a várias espécies de infecções cutâneas superficiais fúngicas, cujo tipo específico 
está na dependência das características do agente causal.
            </p>
            {% endblock %}
            