
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tique
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Contração muscular involuntária, mais ou menos localizada, e de tipo convulsivo que aparece periodicamente e 
é de freqüência variável, sendo dependente de fatores neuropsíquicos; cacoete; trejeito.
            </p>
            {% endblock %}
            