
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tiroxina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Hormônio da tiróide, obtido sinteticamente, empregado no mixedema, cretinismo, obesidade e no bócio. 
Quimicamente, é um aminoácido descoberto por Edward Kendall (Prêmio Nobel de Fisiologia e Medicina de 
1950), em 1915.
            </p>
            {% endblock %}
            