
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tirosina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Aminoácido fenólico, formado da hidrólise de certas proteínas; constituinte fundamental da fisiologia tiroidiana, 
quando o iodo se fixa à tirosina na formação de tiroglobulina.
            </p>
            {% endblock %}
            