
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tomografia computadorizada
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tomografia que é realizada tendo um computador acoplado ao tomógrafo, que reconstrói a imagem topográfica 
com base nos dados transmitidos e segundo um programa préviamente estabelecido, além de gravá-la na 
memória e transmiti-la para um sistema de televis
            </p>
            {% endblock %}
            