
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tonsila
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Amígdala; órgão achatado situado de cada lado da garganta, entre os pilares, constituído de tecido adenóide e 
um dos componentes do anel de Waldeyer, termo advindo de Wilhelm Waldeyer, anatomista alemão 
(1836-1921).
            </p>
            {% endblock %}
            