
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            totem
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Antepassado simbólico de um clã, animal, planta, ou mais raramente, objeto inanimado ou fenômeno 
meteorológico, como o raio, trovão ou vento, do qual supõem descender determinadas tribos primitivas, que se 
encontram numa fase de organização social e relig
            </p>
            {% endblock %}
            