
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            transaminase
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Enzima que catalisa a transferência do grupo amino de ácido aminado a ácido alfa ceto. Na realidade há vários 
tipos de transaminases ou aminotransferases, tais como as de atividades do aspartato aminotransferase (AST, 
TGO) e da alanina aninotransferase (A
            </p>
            {% endblock %}
            