
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            transferência
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ato de transferir; em termos psicanalíticos, diz-se dos sentimentos afetuosos ou hostis que simbolicamente os 
pacientes transferem ao analista. Se, acaso, o analista reage às manifestações, fu-gindo ao seu papel de 
&#34;espelho&#34; e de arquétipo simbólico, sobr
            </p>
            {% endblock %}
            