
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            transfundir
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Fazer passar líquido de um vaso para outro; fazer passar o sangue de um indivíduo para a veia de outro; injetar 
líquido ou sangue na veia para fins terapêuticos.
            </p>
            {% endblock %}
            