
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tratamento paliativo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tratamento ou medicamento que só tem eficácia momentânea; tratamento ou medicamento, ou mes-mo 
expediente ou meio, usado com o fim de atenuar um mal ou procrastinar uma crise.
            </p>
            {% endblock %}
            