
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            trauma
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            No sentido físico, é uma lesão sofrida pelo organismo, de aparecimento súbito e de suficiente intensidade, 
podendo provocar reações imediatas e necessárias de pronto-atendimento; no sentido psicológico, emoção 
violenta que desorganiza a personalidade de m
            </p>
            {% endblock %}
            