
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            travestismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Designa o hábito ou costume, temporário ou duradouro, de uma pessoa vestir-se com roupas de outro sexo, 
imitando-lhes os trejeitos.
            </p>
            {% endblock %}
            