
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            trematódeo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Platelminto da classe trematoda, parasito do aparelho digestivo, de corpo foliáceo e assegmentado, e desprovido 
de cílios. Fixam-se por meio de ventosas ou ganchos, ou ambos. O mais conhecido é o esquistossomo, 
causador da esquistossomose humana.
            </p>
            {% endblock %}
            