
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tricorrexe nodosa
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença dos pêlos ou cabelos, caracterizada pela formação de intumescimento da haste pilosa, em cujo nível o 
pêlo se quebra ao menor toque, sendo mais freqüente na barba.
            </p>
            {% endblock %}
            