
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tripanossoma
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Gênero de esporozoários, parasitos sangüíneos do homem e dos animais, caracterizado pela presença de 
membrana ondulatória ligada ao corpo, e de flagelo; as espécies mais conhecidas são o Trypanossoma cruzi, 
causador da doença de Chagas, e o Trypanossoma g
            </p>
            {% endblock %}
            