
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            trofoblasto
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Camada de tecido ectodérmico, fora do embrião, na parte externa da vesícula blastodérmica; serve para ligar o 
ovo à parede uterina e fornecer alimento ao embrião; trofoderma.
            </p>
            {% endblock %}
            