
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            trompa uterina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Antigamente denominada trompa de Falópio, liga o ovário ao útero. É na trompa uterina, em seu terço superior, 
que se dá a fecundação do óvulo pelo espermatozóide, gerando o ovo; tuba uterina.
            </p>
            {% endblock %}
            