
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tromboplastina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Enzima sangüínea que, associada ao cálcio e aos fatores lábil e estável do sangue, entra em contato com a 
protrombina para formar a trombina, na segunda fase da coagulação sangüínea.
            </p>
            {% endblock %}
            