
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tropotaxia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Orientação fototrópica devido a diferença de tono muscular entre duas metades laterais do corpo, com 
orientação axial precisa no campo luminoso.
            </p>
            {% endblock %}
            