
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tropismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tendência da célula ou organismo vivo para reagir de modo definido a estímulos externos, orientando 
aproximação ou fuga em relação à fonte de energia, como acontece no heliotropismo ou fototropismo, no 
termotropismo, etc. .
            </p>
            {% endblock %}
            