
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tuberculose
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Infecção provocada pelo Mycobacterium tuberculosis ou bacilo tuberculoso ou bacilo de Koch, observada no 
homem e em outros animais. Tende à cronicidade e pode apresentar as mais variadas manifestações e 
localizações (pulmões, sistema nervoso, intestino, r
            </p>
            {% endblock %}
            