
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tubérculo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Nódulo ou pequena eminência, sobretudo elevação sólida da pele; eminência arredondada e dura em osso; 
pequena massa arredondada, produzida pelo bacilo tuberculoso, constituindo a lesão característica de 
tuberculose.
            </p>
            {% endblock %}
            