
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tyndalização
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Esterilização pelo método de Tyndall: aquecimentos repetidos em temperaturas abaixo de 100ºC; o termo advém 
de John Tyndall, físico inglês (1820-1893).
            </p>
            {% endblock %}
            