
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tênia saginata
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            A chamada solitária do homem, com cerca de 4 metros, encontrada na forma adulta no intestino humano, e sob 
a forma larvária (Cysticercum bovis) nos músculos e órgãos do boi.
            </p>
            {% endblock %}
            