
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tísica
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Tuberculose pulmonar caracterizada por consumpção ou definhamento progressivo e lento do organismo, com 
tosse rebelde e expectoração de matéria, às vezes, manchada de sangue, perda de forças, febre e suores 
noturnos.
            </p>
            {% endblock %}
            