
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            tônico
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Que tonifica ou dá energia; diz-se de medicamento ou cosmético que tonifica, restaura o tônus da pele ou de 
algum órgão ou sistema, dos quais, em muitos casos, se argúi a eficácia e a comprovação experimental.
            </p>
            {% endblock %}
            