
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ultravioleta
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Referente aos raios do espectro solar de maior atividade química, e que se encontra além da faixa violeta do 
espectro. São produzidos por vapores de mercúrio incandescidos, ou pelo arco voltaico. Além de outras 
propriedades, são esterilizantes de ambiente
            </p>
            {% endblock %}
            