
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ultra-sonografia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Método de diagnóstico que, mediante a emissão de ondas sonoras de alta freqüência, permite a visualização de 
órgãos internos do corpo; ecografia.
            </p>
            {% endblock %}
            