
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            uretra
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Canal membranoso que vai da bexiga ao orifício central externo (meato urinário), com 15-20 cm de comprimento 
no homem e 3-8 cm na mulher.
            </p>
            {% endblock %}
            