
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            urticária
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Erupção cutânea caracterizada pelo aparecimento súbito de manchas congestivas ou brancacentas, pouco 
salientes, na superfície da pele, pouco resistentes à palpação, pruriginosas; às vezes se acompanham de 
alterações gerais atribuídas a reações alérgicas p
            </p>
            {% endblock %}
            