
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            uso racional de medicamentos
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Segundo o Ministério da Saúde, é o processo que compreende a prescrição apropriada, a disponibilidade 
oportuna e a preços acessíveis, e o consumo nas doses indicadas, nos intervalos definidos e no período de 
tempo indicado, de medicamentos eficazes, segur
            </p>
            {% endblock %}
            