
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vacinar
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Introduzir uma vacina no organismo de homem ou animal, para criar imunidade em relação à infecção 
correspondente (vacinação preventiva), ou para desenvolver as defesas do organismo contra uma infecção já 
instalada (vacinoterapia); imunizar; preservar; res
            </p>
            {% endblock %}
            