
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vacúolo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Espaço cheio de líquido incolor que se forma no protoplasma das células. Quanto mais velha a célula, maiores 
os vacúolos; podem ser tão grandes que o protoplasma acaba se reduzindo a uma delgada faixa localizada junto 
à membrana celular.
            </p>
            {% endblock %}
            