
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vagina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Na mulher, canal que comunica o colo do útero com a vulva, medindo cerca de sete a oito cm de comprimento; 
estrutura em forma de bainha.
            </p>
            {% endblock %}
            