
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vagotonia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Hiperexcitabilidade do vago ou do sistema nervoso parassimpático, caracterizada por instabilidade vasomotora, 
obstipação, sudorese e espasmos dolorosos.
            </p>
            {% endblock %}
            