
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            valva
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Estrutura formada por duas ou mais válvulas, cuja função é permitir que o conteúdo de um órgão se desloque 
num único sentido, impedindo, desta maneira, o refluxo; pequena valva.
            </p>
            {% endblock %}
            