
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            valência
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Número de ligações que um átomo ou um radical pode efetuar com outros átomos, ou outros radicais, sob forma 
estável, para constituir uma molécula ou outro radical; é a capacidade de elétrons dos corpos disponíveis para 
as combinações químicas. Esse número
            </p>
            {% endblock %}
            