
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            variável
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Atributo ou qualidade que apresenta diferença quanto à grandeza e varia de acordo com alguma dimensão, 
podendo ser qualitativa ou quantitativa.
            </p>
            {% endblock %}
            