
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            varíola
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Doença infecciosa aguda, com período de incubação de cerca de 12 dias, a que se segue etapa febril, surgindo, 
nos primeiros três a quatro dias desta, erupção macular ou petequial do tronco, a qual desaparece junto com a 
febre; em seguida, surgem novamente
            </p>
            {% endblock %}
            