
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vasectomia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Intervenção cirúrgica em que um canal deferente é ligado em dois pontos de seu trajeto, sendo ressecada parte 
desse canal entre as duas ligaduras. Utilizada para esterilização de homem.
            </p>
            {% endblock %}
            