
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vasopressina
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Hormônio do lobo posterior da hipófise, também denominado de hormônio antidiurético, ou ADH, que faz 
aumentar a pressão sangüínea mediante estímulo do tecido muscular de vasos capilares e arteríolas.
            </p>
            {% endblock %}
            