
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            velocidade de hemossedimentação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Medida da capacidade de sedimentação de hemácias, por unidade de tempo, em coluna de sangue fresco 
tratado por citrato ou outra substância, muito utilizada como auxiliar de diagnóstico dos estados inflamatórios.
            </p>
            {% endblock %}
            