
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            veneno
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Substância que altera ou destrói as funções vitais; o termo já representou beberagem ou filtro medicinal. Foi 
Cícero quem fez a mudança metafórica da beberagem medicinal em substância tóxica, mortal, provavelmente 
por ironia com os farmacêuticos.
            </p>
            {% endblock %}
            