
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vento
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            O ar em movimento, fenômeno ocasionado sobretudo pela diferença de temperatura, e portanto de pressões, 
nas vá-rias regiões atmosféricas.
            </p>
            {% endblock %}
            