
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ventrículo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Pequena cavidade ou bolsa; cada uma das duas cavidades inferiores do coração, uma direita e outra esquerda, 
de grossas paredes musculares; cada uma das quatro cavidades no âmago do encéfalo; a cavidade única do 
coração de certos animais.
            </p>
            {% endblock %}
            