
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            verbomotora, zona
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Área do cérebro, localizada na parte inferior da circunvolução frontal inferior esquerda, ou área de Broca, onde 
se registram as imagens motoras das sílabas, das quais resultam as palavras.
            </p>
            {% endblock %}
            