
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            verme
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Designação genérica para animais invertebrados, de corpo mole e ápodos (helmintos); porção mediana, ímpar, 
constituindo o paleocerebelo ou a parte mais primitiva desse órgão e responsável pelas funções estáticas do 
corpo; vermis.
            </p>
            {% endblock %}
            