
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vestibular
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Relativo ao vestíbulo; diz-se da síndrome composta de acessos de vertigens com prova de rotação e nistagmo 
prolongado, na supressão funcional do aparelho vestibular, ou destruição do labirinto.
            </p>
            {% endblock %}
            