
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vestíbulo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Cavidade situada no labirinto ósseo de cada ouvido interno, a qual se comunica com a cóclea por diante e com 
os canais semicirculares por trás.
            </p>
            {% endblock %}
            