
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vibração protodiastólica
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ruído de grande ressonância, logo após a 2a bulha, muito mais forte que as bulhas normais, formando com 
estas um ritmo de três tempos, observado na calcificação pericárdica.
            </p>
            {% endblock %}
            