
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vida
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Conjunto de propriedades e qualidades graças às quais animais e plantas, ao contrário dos organismos mortos 
ou da matéria bruta, se mantém em contínua atividade, manifestadas em funções orgânicas tais como o 
metabolismo, o crescimento, a reação a estímulo
            </p>
            {% endblock %}
            