
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            virilismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Desenvolvimento de caracteres masculinos na mulher; hermafroditismo em que o indivíduo é feminino mas 
possui órgãos sexuais externos masculinos; desenvolvimento precoce de caracteres sexuais secundários 
masculinos no homem.
            </p>
            {% endblock %}
            