
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vocação
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Forte inclinação para exercer determinadas atividades profissionais, artísticas, científicas, literárias e religiosas, 
de acordo com as suas aptidões, de forma tal que parece estar o indivíduo seguindo um chamado ou apelo 
interior.
            </p>
            {% endblock %}
            