
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            voltaico, arco
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Foco luminoso produzido pela passagem de corrente elétrica de alta voltagem, entre as extremidades ou pólos 
de dois botões de carvão.
            </p>
            {% endblock %}
            