
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            volt
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Diferença de tensão na extremidade de um condutor, cuja resistência é de um ohm e força de um ampère; o 
termo advém de Alessandro Volta, fisiologista italiano (1745-1827).
            </p>
            {% endblock %}
            