
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            volumetria
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Processo químico de análise quantitativa que consiste em despejar um volume mensurável de solução titulada, 
em volume conhecido da solução que se vai dosar, até o momento em que um indicador possibilite reconhecer o 
término da reação.
            </p>
            {% endblock %}
            