
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            volúpia
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Grande prazer, sensação agradável que extasia; prazer sexual excessivo; o termo advém de deusa romana, 
personificação do prazer e também da saúde e do bem-estar.
            </p>
            {% endblock %}
            