
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vontade
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Faculdade de representar mentalmente um ato que pode ou não ser praticado em obediência a um impulso ou a 
motivos ditados pela razão; sentimento que incita alguém a atingir o fim proposto por esta faculdade; aspiração; 
anseio; desejo.
            </p>
            {% endblock %}
            