
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            voyeurisme
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Palavra francesa, algumas vezes traduzida por escopofilia, usada para indicar o prazer em observar os órgãos 
sexuais ou a cópula de outros indivíduos. A sublimação do impulso desloca o olhar da parte para o todo, do 
órgão genital para o corpo; mixoscopia;
            </p>
            {% endblock %}
            