
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vícios por confusão
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Acontece quando dois fatores ou processos estão interrelacionados ou viajam juntos, e é erroneamente 
concluído que um dos fatores é o responsável pelos resultados. Um fator com potencial para confusão pode 
confundir um estudo mas não outro, isto porque só
            </p>
            {% endblock %}
            