
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vícios de aferição
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Acontece quando existe um erro sistemático na medida de uma variável. Em estudos controlados, quando uma 
variável é aferida de uma maneira sistematicamente diferente entre os grupos em estudo. Uma balança pode 
não estar aferida, resultando em erro sistemá
            </p>
            {% endblock %}
            