
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vício de seleção
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Acontece quando observações são feitas em um grupo de pacientes que foi selecionado incorretamente. Em 
estudos controlados, quando os grupos são selecionados no início ou perdidos durante o estudo de maneiras 


sistematicamente diferentes.
            </p>
            {% endblock %}
            