
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vírus
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Agente infeccioso, invisível, com algumas exceções, pela microscopia óptica, e que se caracteriza por não ter 
metabolismo independente e ter capacidade de reprodução apenas no interior de células hospedeiras vivas; à 
semelhança de organismos vivos, pode r
            </p>
            {% endblock %}
            