
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            vórmio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Designação comum a pequenos ossos, variáveis em número e forma, que se encontram nos ângulos das 
suturas cranianas; o termo advém de Olé Worm, médico e anatomista dinamarquês (1588-1654).
            </p>
            {% endblock %}
            