
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            yin-yang
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            No pensamento oriental, as duas forças ou princípios complementares que abrangem todos os aspectos e 
fenômenos da vida, e que são representados por um círculo dividido ao meio por uma linha contínua constituída 
de curva e contra-curva.
            </p>
            {% endblock %}
            