
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            zoomorfismo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Metamorfose animal; culto religioso em que as divindades têm formas animais; crença de que o homem pode 
transformar-se em animal, como a lenda do lobisomem, mula-sem-cabeça, etc. .
            </p>
            {% endblock %}
            