
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            zoopsias
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Forma de alucinação em que o paciente crê ver animais; alucinação visual dos quadros agudos de alcoolismo, 
delirium tremens, em que os animais do delírio são muito maiores do que na realidade, geralmente 
representados por baratas e lagartixas.
            </p>
            {% endblock %}
            