
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ácaro
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Gênero de aracnídeos parasitos, produtores e transmissores de doenças ao homem e aos animais. Apresentam 
a cabeça reunida ao tórax e não possuem antenas. O abdome é desprovido de membros. Os adultos possuem 
oito patas e as larvas seis.
            </p>
            {% endblock %}
            