
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ácido graxo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Uma das cinco classes das gorduras ou lipídios. Estes ácidos diferenciam-se entre si em face de suas 
características químicas; são chamados de saturados quando apresentam uma ligação molecular simples; de 
insaturados quando apresentam uma ligação molecula
            </p>
            {% endblock %}
            