
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            água oxigenada
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Peróxido de hidrogênio; líquido incolor, de composição química diferente da água comum (H2O) por conter na 
molécula dois átomos de oxigênio (H2O2). Tem a propriedade de liberar oxigênio facilmente, o que torna a H2O2 
muito útil como anti-séptico, desodori
            </p>
            {% endblock %}
            