
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            água pesada
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Água que contém hidrogênio pesado (deutério), em lugar de hidrogênio comum. É usada nos reatores nucleares 
como moderador de neutrons; também chamada óxido de deutério.
            </p>
            {% endblock %}
            