
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            água natural
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Água existente na natureza em rios, lagos, fontes, na chuva, etc., contendo em geral sais e gases dissolvidos ou 
matéria insolúvel em suspensão.
            </p>
            {% endblock %}
            