
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            álcool
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Líquido incolor, volátil, com cheiro e sabor característicos, obtido por fermentação de substâncias açucaradas ou 
amiláceas, ou mediante processos sintéticos, utilizado com larga faixa de propósitos; composto orgânico que 
contém pelo menos uma hidroxila (
            </p>
            {% endblock %}
            