
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            área sob a curva
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Corresponde à área da figura geométrica feita pela curva de concentração de um fármaco em função do tempo; 
é calculada pela regra simples da área do paralelogramo; ASC; AUC (área under the curve).
            </p>
            {% endblock %}
            