
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            átomo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Partícula da molécula; menor partícula que pode entrar em combinação, que consta de um centro ou núcleo em 
torno do qual giram diminutos elétrons, disposição esta que permite sua comparação a um sistema solar 
infinitamente pequeno.
            </p>
            {% endblock %}
            