
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            âmnio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Membrana que se desenvolve em torno do embrião dos vertebrados superiores, formando o saco ou cavidade 
amniótica na qual está contido o líquido amniótico, destinado a conservar úmido o embrião e protegê-lo contra 
choques.
            </p>
            {% endblock %}
            