
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ânion
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Termo criado por Faraday, representa o elemento de carga elétrica negativa ou pólo negativo de uma corrente 
elétrica. Os âniones ou aniontes incluem os metalóides, os radicais ácidos, a oxidrila ou hidroxila. São 
simbolizados por uma vírgula ou travessão,
            </p>
            {% endblock %}
            