
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ãa
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Abreviatura latina que significa &#34;de cada&#34;, usada para designar uma quantidade comum de vários componentes 
de uma formulação. Pronuncia-se &#34;aná&#34;.
            </p>
            {% endblock %}
            