
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            éctima
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Piodermite ulcerativa, estrepto ou estreptoestafilocócica, em que a lesão elementar é uma pústula circundada de 
halo eritematoso, com formação de crosta, sob a qual se encontra ulceração mais ou menos profunda que, ao 
regredir, deixa cicatriz.
            </p>
            {% endblock %}
            