
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            Édipo, complexo de
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Segundo a psicanálise, sensação intensa de dependência afetiva para com a própria mãe, rejeitando, também 
de modo intenso, o pai, sem o saber; série de sintomas atribuídos ao amor sexual. O termo advém de Édipo, 
herói tebano (Grécia), filho de Laio, rei d
            </p>
            {% endblock %}
            