
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            éter
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Líquido incolor, de cheiro característico, muito volátil, de sabor adocicado, usado para anestesia geral, devido a 
sua atividade paralisante do sistema nervoso central sem afetar muito o sistema circulatório.
            </p>
            {% endblock %}
            