
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ética
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            É o ramo do conhecimento humano que se encarrega das normas e dos princípios morais que regem o 
comportamento dos indivíduos pertencentes a uma comunidade. A ética, por assim dizer, é a moral de uma 
sociedade.
            </p>
            {% endblock %}
            