
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            índigo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Anil; matéria corante, no início retirada industrialmente na Índia da Indigofera tinctoria, ou anileira, natural 
daquele país, e hoje obtida sinteticamente.
            </p>
            {% endblock %}
            