
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            íon
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Átomo ou grupo de átomos com carga elétrica positiva ou negativa: átomo que perdeu um ou mais de seus 
elétrons, possuindo, portanto, carga elétrica positiva (+); ou átomo que adquiriu um ou mais elétrons, tendo 
assim carga elétrica negativa (-); ionte.
            </p>
            {% endblock %}
            