
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            óleo volátil
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            O mesmo que óleo essencial, óleo etéreo; classe de óleos que volatilizam à temperatura ambiente, como ocorre 
nas plantas aromáticas, às quais conferem seu odor.
            </p>
            {% endblock %}
            