
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            ópio
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Extrato bruto da papoula (Papaver somniferum), planta nativa da Asia Menor e cultivada também em outras 
regiões, especialmente no Extremo Oriente. Dotado de propriedades narcóticas, possui mais de 20 alcalóides, 
entre os quais a morfina, codeína, papaveri
            </p>
            {% endblock %}
            