
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            óvulo
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Ovo não-fecundado, oriundo do ovário (folículo de DeGraaf); forma de medicamento veiculado com glicerina 
gelatinada para ser introduzido na vagina; supositório vaginal.
            </p>
            {% endblock %}
            