
            {% extends 'parent.html' %}
        
            {% block head %}
            <title>{{ title }}</title>
            {% endblock %}
            
            {% block body %}
            <p class='fs-1' style='text-align: center; text-decoration-line: underline; text-transform: capitalize; text-shadow: 2px 2px grey;'>
            úlcera
            </p>
            <p class='fs-5' style='text-align: justify; padding-left: 20%; padding-right: 20%'>
            Solução de continuidade de uma superfície; perda de substância em superfície cutânea ou mucosa, com 
desintegração e necrose de tecidos; ulcus.
            </p>
            {% endblock %}
            